<div class="container">
  <div class="center-block">
    <h2>Светодиодные табло, бегущие строки и видеоэкраны</h2>
    <div class="row">
      <div class="span6 ">
        <div class="span-space" >
          <div style="text-align: right;margin: 10px">
            <img src="/images/portfolio/image13220130405164024408.jpg">
          </div>
        </div>
      </div>
      <div style="padding: 15px">
        <div>
          Мы предлагаем светодиодные табло, бегущие строки (полноцвет, монохром) и видеоэкраны с высоким разрешением для использования как на улице (городские площади, спортивные арены, ипоодромы и т.д.), так и в помещениях (концертные залы, конференц-залы, вокзалы, коммерческие банки и т.д.). Эти модели выгодно и активно используются для размещения социальной рекламы, оповещения о чрезвычайных ситуациях, дорожных ситуациях, репертуаре театров и кинотеатров, передачи новостной информации администраций, а также спутниковые видеотрансляции с высоким качеством изображения.
        </div>
        <div>
          Светодиодные видеоэкраны и бегущие строки гармонично вписываются в городскую инфраструктуру и интерьеры ТРЦ, выставочных центров, вокзалов и аэропортов. Они позволяют транслировать видеоинформацию и оперативно обновлять транслируемый медиаконтент, что выгодно отличает их от других видов рекламы. Видеоэкраны и светодиодные бегущие строки гармонично вписываются в любой дизайн городской архитектуры и открывают принципиально новые возможности.
        </div>
        <div style="text-align: center">
          <h5>
            Использование видеоэкранов и табло «Бегущая строка» в информационных целях - это идеальный способ привлечь внимание к объекту и хорошая возможность сэкономить бюджетные средства!
          </h5>
        </div>
        <div>
          <h3>Плюсы светодиодных экранов (LED-дисплеев)</h3>
          <ul>
            <li>
              Относятся к классу активных экранов, иначе - поверхность экрана одновременно служит и модулятором, и источником света, что отличает его от проекторов, видеокубов и др., где источник света не исходит от самого экрана. Если солнечный свет попадает на экран под прямым углом, то изображение светодиодного экрана остается по-прежнему контрастным;
            </li>
            <li>
              Внутренний светодиодный экран не требует наличия вентиляторов или кондиционеров, поэтому его разрешается эксплуатировать в помещениях с загрязненным воздухом и где имеются особые требования в отношении шума;
            </li>
            <li>
              Системы контроля и экранное программное обеспечение делают возможным работу светодиодных экранов по заданным установкам без участия оператора. Управление можно осуществлять дистанционно.
            </li>
          </ul>
        </div>
        <div>
          <h3>Преимущества светодиодных табло (бегущих строк)</h3>
          <ul>
            <li>Быстрое обновление транслируемой информации;</li>
            <li>Можно загружать любые тексты неограниченное число раз через специальное программное обеспечение, которое также позволяет задавать различные эффекты, скорость, количество повторений, цветовое насыщение, минимум расходов на эксплуатацию, низкая вероятность каких-либо сбоев;</li>
            <li>Она будет заметна даже на отдаленном расстоянии вне зависимости от времени суток.</li>
          </ul>
        </div>
        <div>
          <h4 style="text-align:center">
            Использование светодиодных табло «Бегущая строка» позволяет получить реальную экономию средств за счет значительного сокращения потребляемой энергии, уменьшения подводимой мощности и удешевления текущего обслуживания.
          </h4>
          <h5>
            Цены, которые предлагает наше рекламно-информационное агентство на сегодняшний день - это самые низкие цены в СКФО.
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>