<div class="container">
  <div class="center-block">
    <h2>Интерактивная пленка обратной проекции</h2>
    <div class="row">
      <div style="padding: 15px">
        <p>
          Мы предлагаем интерактивную пленку обратной проекции (сенсорную и обычную) для использования в помещениях (концертные залы, конференц-залы, вокзалы, коммерческие банки и т.д.). Эти модели выгодно и активно используются для размещения социальной рекламы, оповещения о чрезвычайных ситуациях, дорожных ситуациях, репертуаре театров и кинотеатров, передачи новостной информации администраций, а также спутниковые видеотрансляции с высоким качеством изображения.
        </p>
        <p>
          Интерактивная пленка обратной проекции вписывается в городскую инфраструктуру и интерьеры ТРЦ, выставочных центров, вокзалов и аэропортов. Они позволяют транслировать видеоинформацию и оперативно обновлять транслируемый медиаконтент, что выгодно отличает их от других видов рекламы.
        </p>
        <br><br>
        <div style="margin-left:50px">
          <% @videos.each do |video| %>
              <div>
                <iframe width="560" height="315" src="http://www.youtube.com/embed/<%= video %>?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>