<div class="two-cols">
  <div class="tc-left">
    <h4>Описание рекламной конструкции</h4>

    <p>Данный вид рекламоносителя предназначен для установки вблизи пляжных зон и на их территории. Пляжные кабины с
      рекламными носителями являются довольно распространенным средством рекламы за рубежом. Реклама на пляжных
      кабинках является сезонной и особенно такие конструкции актуальны в курортных зонах России.<br><br></p>
    <br><br>
    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика<br>в широких пределах по палитре RAL.</p>
    <br><br>
    <%= image_tag image_path('production/street_furniture/con-beachcab-1.jpg'), alt: '', style: '' %></div>
  <div class="tc-right">
    <h4>Система подсветки</h4>

    <p>Пляжная кабинка с рекламными носителями выполнена из специальной системы алюминиевых профилей. Конструкция
      имеет 7 рекламных поверхностей Сити-формата с видимым изображением 1,2 × 1,8 м. В качестве рекламных плакатов
      можно использовать баннер или бумагу. Рекламные плакаты могут крепиться путем их приклеивания к рекламной
      поверхности, либо могут быть закреплены между листами непрозрачного пластика и поликарбонатного стекла.</p>
    <br>
    <h4>Возможна система «Сделай сам»</h4>
    <%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '', style: '' %>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p>
    <br><br>
    <%= image_tag image_path('production/street_furniture/con-beachcab-2.jpg'), alt: '', style: '' %></div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">
    <div class="pluses">
      <h4>Особенности рекламной конструкции</h4>
      <ul>
        <li>Модульность конструкции.</li>
        <li>Отсутствие сварочных швов.</li>
        <li>Простой технологический процесс сборки и монтажа.</li>
      </ul>
      <ul>
        <li>Пляжные кабины серии ДиМ выполнены из алюминиевого профиля <br>высокого качества (алюминиевый сплав АД31
          ГОСТ 4784-97).
        </li>
        <li>Различные комбинации и любое количество встроенных кабин.</li>
      </ul>
    </div>
  </div>
  <div class="tc-right">
  </div>
</div>
<p></p>