<div class="two-cols">
  <div class="tc-left">
    <h4>Преимущества рекламных скамеек</h4>

    <p>Основные преимущества рекламных скамеек: современный дизайн, легкость и прочность конструкции, простота сборки.
      Рекламные скамейки становятся основным местом отдыха горожан, а также прекрасным дополнением к городскому
      пейзажу.<br>
      <br>
      Популярность размещения рекламы на таких скамейках стремительно растет благодаря достаточно невысокой стоимости
      размещения и абсолютной новизны продукта. Рекламная скамейка это достаточно выгодная конструкция, способная
      быстро окупиться и приносить прибыль.</p>
    <br><br>
    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика.<br><br></p>
    <br><br>
    <%= image_tag image_path('production/street_furniture/con-bench-1.jpg'), alt: '', style: '' %></div>
  <div class="tc-right">
    <h4>Крепление рекламных изображений</h4>

    <p>Рекламные поля размером 0,49 × 1,72 м расположены на лицевой и тыльной части спинки. Изображения легко меняются
      благодаря откидной створке с тыльной стороны спинки. Поля для демонстрации рекламы защищены монолитным
      поликарбонатом или каленым стеклом (по усмотрению заказчика). В качестве носителя используется баннер любой
      плотности.<br>
      <br>
      Предусмотрена возможность закрепления скамеек в местах установки.<br><br></p>
    <br><br>
    <h4>Возможна система «Сделай сам»</h4>
    <%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '', style: '' %>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p>
    <br><br>
    <%= image_tag image_path('production/street_furniture/con-bench-2.jpg'), alt: '', style: '' %></div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">
    <div class="nnote">
      <div class="nwrap">
        <div class="social">
          <strong>Социальная направленность</strong>

          <p>Социальная направленность в некоторых <br>случаях упрощает процедуры по <br>согласованию рекламных мест.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="tc-right">
    <br>
    <h4>Особенности рекламной конструкции</h4>
    <ul>
      <li>Простота замены рекламных постеров.</li>
      <li>Двухстороннее рекламное вертикальное панно.</li>
      <li>Деревянные бруски — это как основа посадочных мест (более предпочтительный вариант для условий зима /
        лето).
      </li>
    </ul>
  </div>
</div>
<p></p>