<div class="two-cols">
  <div class="tc-left">
    <h4>Описание рекламной конструкции</h4>

    <p>Мы предлагаем модели велопарковок, предназначенные для различных видов велосипедов, мопедов и мотоциклов.
      Стандартная конструкция рассчитана на парковку десяти велосипедов. Парковка может быть оборудована одним, либо
      двумя рекламными лайтбоксами сити-формата (1,2 × 1,8 м) расположенными симметрично друг к другу. Велопарковка с
      рекламными лайтбоксами несет в себе не только удобства для пользователей двухколесной техники, но и коммерческую
      выгоду. Такой вид рекламоносителя предназначен для установки вблизи торговых центров, кинотеатров, магазинов,
      кафе.</p>
    <br>
    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика.</p><br></div>
  <div class="tc-right">
    <h4>Возможна система «Сделай сам»</h4>
    <%= image_tag image_path('production/advertisment/rgb.jpg'), alt: '', style: '' %>

    <p>Готовые наборы комплектующих «Сделай сам», предназначенные для изготовления рекламоносителей самостоятельным
      способом.</p>
    <br><br><br><br>
    <h4 style="margin-top:5px;">Возможна установка DSS</h4>
    <%= image_tag image_path('production/advertisment/dss.jpg'), alt: '', style: '' %>

    <p>В рекламную конструкцию возможна установка цифрового роллерного механизма DSS.</p></div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">
    <div class="pluses">
      <h4>Особенности рекламной конструкции</h4>
      <ul>
        <li>Социальная направленность (места для парковки велосипедов)<br>в некоторых случаях упрощает процедуры по
          согласованию<br>рекламных мест.
        </li>
        <li>Велопарковки выполнены из алюминиевого профиля высокого<br>качества (алюминиевый сплав АД31 ГОСТ 4784-97).
        </li>
        <li>Возможность установки цифровой роллерной системы в короба<br>хайтек и бизнес.</li>
      </ul>
      <ul>
        <li>Различные варианты использования светового короба: хайтек, <br>бизнес, базис (в том случае, если вы решили
          отказаться от стекла <br>в статических лайтбоксах).
        </li>
        <li>Допускается применение системы натяжения баннера в статических <br>лайтбоксах.</li>
        <li>Применение технологии светодиодного освещения с целью <br>уменьшения потребляемой мощности.</li>
      </ul>
    </div>
  </div>
  <div class="tc-right">
  </div>
</div>
<p></p>