<% content_for :title, 'Светодиодные табло, бегущие строки и видеоэкраны' %>
<div class="container">
  <div class="center-block">
    <h2>LED-displays, video screens and tickers</h2>
    <div class="row">
      <div style="padding: 15px;text-indent: 25px">
        <div>
          We offer LED scoreboard tickers (full color, monochrome) and high-resolution video screens for use in the street (town squares, sports arenas, ipoodromy, etc.) and indoors (concert halls, conference halls, railway stations, commercial banks, etc.). These models are profitable and widely used to organize social advertising, emergency warning, traffic situations, repertory theaters and cinemas, the transmission of news administrations, as well as satellite video stream with high quality images .
        </div>
        <div>
          LED screens and tickers fit harmoniously into the urban infrastructure and interiors mall, exhibition centers, railway stations and airports. They allow you to broadcast video and promptly update the broadcast media content, which distinguishes them from other types of advertising. Video screens and LED tickers harmoniously fit into any urban design architecture and open up entirely new opportunities.
        </div>
        <div style="text-align: center">
          <h5>
            Using video screens and scoreboards "Marquee" for informational purposes is the perfect way to draw attention to the subject and a good opportunity to save budgetary funds!
          </h5>
        </div>
        <div>
          <h3>Pluses of LED screens (LED-displays)</h3>
          <ul>
            <li>
              Belongs to a class of active screens, otherwise - the surface of the screen also serves as a modulator and a light source, which distinguishes it from the projectors, video cubes, etc., where the light source is not coming from the screen. When sunlight hits the screen at the right angle, the image of the LED screen remains the same contrast;
            </li>
            <li>
              Indoor LED-display doesn't require a fan or air conditioning, so it is allowed to operate in areas with polluted air and where there are special requirements for noise;
            </li>
            <li>
              Control system and on-screen software makes it possible for the LED screens on the specified settings without operator intervention. Including remote control.
            </li>
          </ul>
        </div>
        <div>
          <h3>Advantages of LED displays (tickers)</h3>
          <ul>
            <li>Quick update broadcast information;</li>
            <li>You can upload any text unlimited number of times through a special software that also allows you to specify different effects, speed, number of repetitions, color saturation, minimum operating costs, low probability of any failures;</li>
            <li>It will be apparent, even at a remote distance, regardless of the time of day.</li>
          </ul>
        </div>
        <div>
          <h4 style="text-align:center">
            Using the LED display "Marquee" allows you to get real savings by significantly reducing energy consumption, reducing the input power and reduce the cost of ongoing maintenance.
          </h4>
          <h5>
            Prices offered by our advertising and information agency today are lowest prices in North Caucasus Federal District.
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>