<% content_for :title, 'Фрезерные работы' %>
<div class="container">
  <div class="center-block">
    <h2>Выполнение работ на фрезерном станке</h2>

    <div class="row">
      <div style="padding: 15px; margin: 10px">
        <div>
          Мы предлагаем выполнение работ на фрезерном станке. Отрисовка узоров любой сложности практически на любом
          материале.

          <ul>Некоторые из материалов, которые могут использоваться:
            <li>жесткие пластики (PMMA-PC-PS-PVC-ABS и т.д.);</li>
            <li>жестковспененные (PU-PS и т.д);</li>
            <li>композитные материалы для строительства и производства;</li>
            <li>дерево и продукция из дерева;</li>
            <li>текстолит;</li>
            <li>цветные металлы и сплавы на основе алюминия и меди;</li>
            <li>сталь и нержавеющая сталь.</li>
          </ul>
        </div>
        <div>
          Цены на фрезерно-гравировальные работы:<br>
<pre style="width: 700px;text-align: justify">
<b>    Наименование           Материал                 Толщина        Стоимость </b>
    Фрезеровка             ПВХ                      1-8 мм         40 руб./п.м.
    Фрезеровка             ПВХ                      10 мм          50 руб./п.м.
    Фрезеровка             Оргстекло                1-8 мм         40 руб./п.м.
    Фрезеровка             Оргстекло                10-15 мм       50 руб./п.м.
    Фрезеровка             Оргстекло                15-20 мм       120 руб./п.м.
    Фрезеровка             Композит                 2-4 мм         40 руб./п.м.
    Фаска                  Композит                 1,5-4 мм       40 руб./п.м.
    Фрезеровка             Graflux, Metzoplast      1,5-3 мм       40 руб./п.м.
    Гравировка             Оргстекло                               30 руб./п.м.
    Гравировка             Композит, Graflux                       20 руб./п.м.
    Подготовка файла                                               от 100 руб.
</pre>
        </div>
        <br>

        <div style="margin-left:50px">
          Цены приведены в рублях, с НДС, п.м. - погонный метр прохода фрезы.<br>

          <div>
            <ul>Все расценки приведены:
              <li>без стоимости материала;</li>
              <li>за срочность заказов вводится коэффициент 2;</li>
              <li>стоимость фрезерных работ по металлам рассчитывается индивидуально;</li>
              <li>для объема работ свыше 150 п.м. резки предусмотрены скидки;</li>
            </ul>
          </div>
          <br>
          Файлы должны предоставляться в векторном виде, в формате *.cdr, в кривых, в масштабе 1:1
        </div>
      </div>
    </div>
    <div class="milling_images">
      <% i = 0; @images.each do |image| %>
          <%= link_to image_path("milling/#{image}.jpg"), rel: 'prettyPhoto[]' do %>
              <%= image_tag image_path("milling/#{image}.jpg"), alt: '' %>
          <% end %>
          <% if (i += 1) == 3 %>
              </div>
              <div class="milling_images">
          <% end %>
      <% end %>
      </div>
      </div>
  <br>
  <br>
</div>