<% content_for :title, 'Разработка сайтов' %>
<% content_for :portfolio do %>
    <%= javascript_include_tag 'solution/sites', 'data-turbolinks-track' => true %>
<% end %>
<div class="container">
  <div class="center-block">
    <h2>О разработке сайтов</h2>
    
    <div class="row">
      Наша организация готова предложить вам разработку первоклассных сайтов. Мы сделаем вам любой сайт, начиная от
      обычного сайта-визитки и заканчивая крупномасштабным интернет-магазином.
      На данный момент мы готовы предложить вам следующие опции:
    </div>

    <div class="row">
      <br>
      <div>
        Подсчитайте стоимость вашего будущего сайта с помощью нашего калькулятора!
      </div>

      <div class="clfield">
        <b>Дизайн:</b>
        <div>
          Шаблонный - 6000 р.
          <input class='calculon' name="design" type="radio" value="6000" checked="checked">
        </div>
        <div>
          Индивидуальный - 8000 р.
          <input class='calculon' name="design" type="radio" value="8000">
        </div>
      </div>
      <div class="clfield">
        <b>Количество страниц и изображений:</b>
        <div>
          2 страницы, 8 фото - бесплатно
          <input class='calculon' name="page" type="radio" value="0">
        </div>
        <div>
          8 страниц, 30 фото - 6 000 р.
          <input class='calculon' name="page" type="radio" value="6000">
        </div>
        <div>
          16 страниц, 80 фото - 8 000 р.
          <input class='calculon' name="page" type="radio" value="8000">
        </div>
        <div>
          Нет ограничений - 10 000 р.
          <input class='calculon' name="page" type="radio" value="10000">
        </div>
      </div>
      <div class="clfield">
        <b>
          CMS - система управления контентом, включает в себя неограниченный запас страниц и фотографий, функции
          админпанели, функции регистрации на сайте и возможность оставления отзывов
        </b>

        <div>
          CMS движок - 15 000 р.
          <input class='calculon' type="radio" value="15000">
        </div>
        <div>
          Галерея - 3 000 р.
          <input class='calculon' type="checkbox" value="3000">
        </div>
        <div>
          Каталог - 3 000 р.
          <input class='calculon' type="checkbox" value="3000">
        </div>
        <div>
          Интернет-магазин - 5 000 р.
          <input class='calculon' type="checkbox" value="5000">
        </div>
      </div>
      <div class="clfield">
        <div id='calculon'>6 000 р.</div>
      </div>
      <br>
      <b>Сайт-визитка. 6'000 рублей.</b>
      <br>
      Конфигурация сайта-визитки предназначена тем, кто хочет разместить небольшую рекламу о себе в Интернете. В него
      входит:
      <ul>
        <li>1 страница</li>
        <li>Шаблонный дизайн</li>
        <li>До 8-ми изображений</li>
      </ul>
      <b>Базовый сайт. 12'000 рублей.</b>
      <br>
      Опции этого сайта предназначены для людей, желающих создать небольшой сайт с разного рода информацией о своем
      деле. В него входит:
      <ul>
        <li>До 8-ми страниц</li>
        <li>Шаблонный дизайн</li>
        <li>До 30 изображений</li>
      </ul>
      <b>Продвинутый сайт. 14'000 рублей.</b>
      <br>
      Данный тип сайта дает Вам широкие возможности для рекламы в интернете, используя актуальный дизайн, анимации и
      большой объем информации.
      <br>
      <ul>
        <li>До 16-ти страниц</li>
        <li>Шаблонный/индивидуальный дизайн</li>
        <li>До 80-ти изображений</li>
        <li>Анимационные элементы</li>
      </ul>
      <b>Бизнес-сайт. 29'000 рублей.</b>
      <br>
      Полная свобода действий и решений начинается с этого опционного плана!
      <ul>
        <li>Отсутствие ограничений на количество страниц</li>
        <li>Шаблонный/индивидуальный дизайн</li>
        <li>Отсутствие ограничений на количество фотографий</li>
        <li>Админпанель (система управления контентом для администрирования сайта)</li>
        <li>Функции каталога товаров</li>
        <li>Функции галереи</li>
        <li>Функции поиска по сайту</li>
        <li>Функции регистрации на сайте</li>
        <li>Функции комментирования</li>
      </ul>
      <b>Интернет-магазин. 34'000 рублей.</b>
      <br>
      Полноценный портал или интернет-магазин - вот что дает вам использование данной опции!
      <ul>
        <li>Отсутствие ограничений на количество страниц</li>
        <li>Шаблонный/индивидуальный дизайн</li>
        <li>Отсутствие ограничений на количество фотографий</li>
        <li>Админпанель (система управления контентом для администрирования сайта)</li>
        <li>Функции каталога товаров</li>
        <li>Функции галереи</li>
        <li>Функции корзины</li>
        <li>Функции поиска по сайту</li>
        <li>Функции электронного расчета</li>
        <li>Функции регистрации на сайте</li>
        <li>Функции комментирования</li>
      </ul>
    </div>
  </div>
  <br>
</div>