<% content_for :title, 'Разработка сайтов' %>
<% content_for :portfolio do %>
    <%= javascript_include_tag 'solution/sites', 'data-turbolinks-track' => true %>
<% end %>
<div class="container">
  <div class="center-block">
    <h2>About website development</h2>

    <div class="row">
      Our organization is ready to offer you a first class development sites. We'll do any site from conventional small website to large-scale online shop for you. At this point we are ready to offer you the following options:
    </div>

    <div class="row">
      <br>
      <div>
        Calculate the cost of your future site using our calculator!
      </div>

      <div class="clfield">
        <b>Design:</b>
        <div>
          Stereotyped - 6000 rub.
          <input class='calculon' name="design" type="radio" value="6000" checked="checked">
        </div>
        <div>
          Individual - 8000 rub.
          <input class='calculon' name="design" type="radio" value="8000">
        </div>
      </div>
      <div class="clfield">
        <b>Number of pages and images:</b>
        <div>
          2 pages and 8 pictures are free
          <input class='calculon' name="page" type="radio" value="0">
        </div>
        <div>
          8 pages and 30 photos - 6 000 rub.
          <input class='calculon' name="page" type="radio" value="6000">
        </div>
        <div>
          16 pages and 80 photos - 8 000 rub.
          <input class='calculon' name="page" type="radio" value="8000">
        </div>
        <div>
          Without restrictions - 10 000 rub.
          <input class='calculon' name="page" type="radio" value="10000">
        </div>
      </div>
      <div class="clfield">
        <b>
          CMS - content management system that includes an unlimited supply of pages and photos, features administration, functions registering on the site and the possibility of leaving comments
        </b>

        <div>
          CMS engine - 15 000 rub.
          <input class='calculon' type="radio" value="15000">
        </div>
        <div>
          Gallery - 3 000 rub.
          <input class='calculon' type="checkbox" value="3000">
        </div>
        <div>
          Catalog - 3 000 rub.
          <input class='calculon' type="checkbox" value="3000">
        </div>
        <div>
          Online shop - 5 000 rub.
          <input class='calculon' type="checkbox" value="5000">
        </div>
      </div>
      <div class="clfield">
        <div id='calculon'>6 000 rub.</div>
      </div>
      <br>
      <b>Online Business Card. 6'000 рублей.</b>
      <br>
      Configuration of a small website is intended for those who want to put a small blurb about yourself online. It included:
      <ul>
        <li>1 page</li>
        <li>Template design</li>
        <li>Up to 8 images</li>
      </ul>
      <b>Base website. 12'000 рублей.</b>
      <br>
      Options on this site are intended for people who want to create a small site with all kinds of information about their case. It includes:
      <ul>
        <li>Up to 8 pages</li>
        <li>Template design</li>
        <li>Up to 30 images</li>
      </ul>
      <b>Advanced website. 14'000 рублей.</b>
      <br>
      This type of site gives you ample opportunities to advertise on the Internet, using the actual design, animation and large amount of information.
      <br>
      <ul>
        <li>Up to 16 pages</li>
        <li>Tepmplate or individual design</li>
        <li>Up to 80 images</li>
        <li>Animated elements</li>
      </ul>
      <b>Business website. 29'000 рублей.</b>
      <br>
      Complete freedom of actions and solutions begins with this option plan!
      <ul>
        <li>No restrictions on the number of pages</li>
        <li>Tepmplate or individual design</li>
        <li>No restrictions on the number of photos</li>
        <li>Administrative panel (content management system to administer the site)</li>
        <li>Functions of product catalog</li>
        <li>Functions of gallery</li>
        <li>Search functions on the site</li>
        <li>Registration</li>
        <li>Commenting options</li>
      </ul>
      <b>Online shop. 34'000 рублей.</b>
      <br>
      Full portal or online shop - that's what gives you the use of this option!
      <ul>
        <li>No restrictions on the number of pages</li>
        <li>Tepmplate or individual design</li>
        <li>No restrictions on the number of photos</li>
        <li>Administrative panel (content management system to administer the site)</li>
        <li>Functions of product catalog</li>
        <li>Functions of gallery</li>
        <li>Search functions on the site</li>
        <li>Registration</li>
        <li>Commenting options</li>
        <li>Basket functions</li>
        <li>Functions of the electronic billing</li>
      </ul>
    </div>
  </div>
  <br>
</div>