/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *




*/
/* line 3, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_top {
  height: 13px;
}
/* line 5, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_top .pp_middle, div.pp_default .pp_top .pp_left, div.pp_default .pp_top .pp_right {
  height: 13px;
}
/* line 7, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_bottom {
  height: 13px;
}
/* line 9, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_bottom .pp_left, div.pp_default .pp_bottom .pp_middle, div.pp_default .pp_bottom .pp_right {
  height: 13px;
}
/* line 12, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_top .pp_left {
  background: url(/assets/prettyPhoto/default/sprite-b11249b84a29ca9cc65d32870995668a.png) -78px -93px no-repeat;
}
/* line 14, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_top .pp_middle {
  background: url(/assets/prettyPhoto/default/sprite_x-30cdd09f952cd40787f91282c839912f.png) top left repeat-x;
}
/* line 16, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_top .pp_right {
  background: url(/assets/prettyPhoto/default/sprite-b11249b84a29ca9cc65d32870995668a.png) -112px -93px no-repeat;
}
/* line 18, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_content .ppt {
  color: #f8f8f8;
}
/* line 21, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_content_container .pp_left {
  background: url(/assets/prettyPhoto/default/sprite_y-52ece50eec696863484fe0a5418cf660.png) -7px 0 repeat-y;
  padding-left: 13px;
}
/* line 24, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_content_container .pp_right {
  background: url(/assets/prettyPhoto/default/sprite_y-52ece50eec696863484fe0a5418cf660.png) top right repeat-y;
  padding-right: 13px;
}
/* line 27, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_next:hover {
  background: url(/assets/prettyPhoto/default/sprite_next-e3ce9f21d7d10f596485dd9d72d97491.png) center right no-repeat;
  cursor: pointer;
}
/* line 30, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_previous:hover {
  background: url(/assets/prettyPhoto/default/sprite_prev-87313291d4f5c0e94da1815eb7b60401.png) center left no-repeat;
  cursor: pointer;
}
/* line 33, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_expand {
  background: url(/assets/prettyPhoto/default/sprite-b11249b84a29ca9cc65d32870995668a.png) 0 -29px no-repeat;
  cursor: pointer;
  width: 28px;
  height: 28px;
}
/* line 38, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_expand:hover {
  background: url(/assets/prettyPhoto/default/sprite-b11249b84a29ca9cc65d32870995668a.png) 0 -56px no-repeat;
  cursor: pointer;
}
/* line 41, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_contract {
  background: url(/assets/prettyPhoto/default/sprite-b11249b84a29ca9cc65d32870995668a.png) 0 -84px no-repeat;
  cursor: pointer;
  width: 28px;
  height: 28px;
}
/* line 46, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_contract:hover {
  background: url(/assets/prettyPhoto/default/sprite-b11249b84a29ca9cc65d32870995668a.png) 0 -113px no-repeat;
  cursor: pointer;
}
/* line 49, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_close {
  width: 30px;
  height: 30px;
  background: url(/assets/prettyPhoto/default/sprite-b11249b84a29ca9cc65d32870995668a.png) 2px 1px no-repeat;
  cursor: pointer;
}
/* line 54, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_gallery ul li a {
  background: url(/assets/prettyPhoto/default/default_thumb-d19e916a209d0c5bd347d42f58515eea.png) center center #f8f8f8;
  border: 1px solid #aaaaaa;
}
/* line 57, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_social {
  margin-top: 7px;
}
/* line 60, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_gallery a.pp_arrow_previous, div.pp_default .pp_gallery a.pp_arrow_next {
  position: static;
  left: auto;
}
/* line 64, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_nav .pp_play {
  background: url(/assets/prettyPhoto/default/sprite-b11249b84a29ca9cc65d32870995668a.png) -51px 1px no-repeat;
  height: 30px;
  width: 30px;
}
/* line 68, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_nav .pp_pause {
  background: url(/assets/prettyPhoto/default/sprite-b11249b84a29ca9cc65d32870995668a.png) -51px 1px no-repeat;
  height: 30px;
  width: 30px;
  background-position: -51px -29px;
}
/* line 74, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default a.pp_arrow_previous {
  background: url(/assets/prettyPhoto/default/sprite-b11249b84a29ca9cc65d32870995668a.png) -31px -3px no-repeat;
  height: 20px;
  width: 20px;
  margin: 4px 0 0;
}
/* line 79, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default a.pp_arrow_next {
  background: url(/assets/prettyPhoto/default/sprite-b11249b84a29ca9cc65d32870995668a.png) -31px -3px no-repeat;
  height: 20px;
  width: 20px;
  margin: 4px 0 0;
  left: 52px;
  background-position: -82px -3px;
}
/* line 86, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_content_container .pp_details {
  margin-top: 5px;
}
/* line 88, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_nav {
  clear: none;
  height: 30px;
  width: 110px;
  position: relative;
}
/* line 93, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_nav .currentTextHolder {
  font-family: Georgia;
  font-style: italic;
  color: #999999;
  font-size: 11px;
  left: 75px;
  line-height: 25px;
  position: absolute;
  top: 2px;
  margin: 0;
  padding: 0 0 0 10px;
}
/* line 104, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_close:hover {
  opacity: 0.7;
}
/* line 107, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_nav .pp_play:hover, div.pp_default .pp_nav .pp_pause:hover {
  opacity: 0.7;
}
/* line 109, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_arrow_next:hover, div.pp_default .pp_arrow_previous:hover {
  opacity: 0.7;
}
/* line 111, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_description {
  font-size: 11px;
  font-weight: 700;
  line-height: 14px;
  margin: 5px 50px 5px 0;
}
/* line 117, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_bottom .pp_left {
  background: url(/assets/prettyPhoto/default/sprite-b11249b84a29ca9cc65d32870995668a.png) -78px -127px no-repeat;
}
/* line 119, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_bottom .pp_middle {
  background: url(/assets/prettyPhoto/default/sprite_x-30cdd09f952cd40787f91282c839912f.png) bottom left repeat-x;
}
/* line 121, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_bottom .pp_right {
  background: url(/assets/prettyPhoto/default/sprite-b11249b84a29ca9cc65d32870995668a.png) -112px -127px no-repeat;
}
/* line 123, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_loaderIcon {
  background: url(/assets/prettyPhoto/default/loader-8f6316ff06dd1c09bf20c1603c528289.gif) center center no-repeat;
}
/* line 127, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_top .pp_left {
  background: url(/assets/prettyPhoto/light_rounded/sprite-d72388b913ff980333be54d9b85414c7.png) -88px -53px no-repeat;
}
/* line 129, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_top .pp_right {
  background: url(/assets/prettyPhoto/light_rounded/sprite-d72388b913ff980333be54d9b85414c7.png) -110px -53px no-repeat;
}
/* line 131, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_next:hover {
  background: url(/assets/prettyPhoto/light_rounded/btnNext-23d735648433359ad596b86fe37f0686.png) center right no-repeat;
  cursor: pointer;
}
/* line 134, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_previous:hover {
  background: url(/assets/prettyPhoto/light_rounded/btnPrevious-caca1cea7fe583c861a32f9a11da05ea.png) center left no-repeat;
  cursor: pointer;
}
/* line 137, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_expand {
  background: url(/assets/prettyPhoto/light_rounded/sprite-d72388b913ff980333be54d9b85414c7.png) -31px -26px no-repeat;
  cursor: pointer;
}
/* line 140, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_expand:hover {
  background: url(/assets/prettyPhoto/light_rounded/sprite-d72388b913ff980333be54d9b85414c7.png) -31px -47px no-repeat;
  cursor: pointer;
}
/* line 143, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_contract {
  background: url(/assets/prettyPhoto/light_rounded/sprite-d72388b913ff980333be54d9b85414c7.png) 0 -26px no-repeat;
  cursor: pointer;
}
/* line 146, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_contract:hover {
  background: url(/assets/prettyPhoto/light_rounded/sprite-d72388b913ff980333be54d9b85414c7.png) 0 -47px no-repeat;
  cursor: pointer;
}
/* line 149, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_close {
  width: 75px;
  height: 22px;
  background: url(/assets/prettyPhoto/light_rounded/sprite-d72388b913ff980333be54d9b85414c7.png) -1px -1px no-repeat;
  cursor: pointer;
}
/* line 155, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_nav .pp_play {
  background: url(/assets/prettyPhoto/light_rounded/sprite-d72388b913ff980333be54d9b85414c7.png) -1px -100px no-repeat;
  height: 15px;
  width: 14px;
}
/* line 159, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_nav .pp_pause {
  background: url(/assets/prettyPhoto/light_rounded/sprite-d72388b913ff980333be54d9b85414c7.png) -24px -100px no-repeat;
  height: 15px;
  width: 14px;
}
/* line 163, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_arrow_previous {
  background: url(/assets/prettyPhoto/light_rounded/sprite-d72388b913ff980333be54d9b85414c7.png) 0 -71px no-repeat;
}
/* line 165, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_arrow_next {
  background: url(/assets/prettyPhoto/light_rounded/sprite-d72388b913ff980333be54d9b85414c7.png) -22px -71px no-repeat;
}
/* line 168, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_bottom .pp_left {
  background: url(/assets/prettyPhoto/light_rounded/sprite-d72388b913ff980333be54d9b85414c7.png) -88px -80px no-repeat;
}
/* line 170, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_bottom .pp_right {
  background: url(/assets/prettyPhoto/light_rounded/sprite-d72388b913ff980333be54d9b85414c7.png) -110px -80px no-repeat;
}
/* line 174, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_top .pp_left {
  background: url(/assets/prettyPhoto/dark_rounded/sprite-c07e821fd2a308c29b3f250355208961.png) -88px -53px no-repeat;
}
/* line 176, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_top .pp_right {
  background: url(/assets/prettyPhoto/dark_rounded/sprite-c07e821fd2a308c29b3f250355208961.png) -110px -53px no-repeat;
}
/* line 179, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_content_container .pp_left {
  background: url(/assets/prettyPhoto/dark_rounded/contentPattern-9afa2af58c1369fc31c3a66d80269c54.png) top left repeat-y;
}
/* line 181, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_content_container .pp_right {
  background: url(/assets/prettyPhoto/dark_rounded/contentPattern-9afa2af58c1369fc31c3a66d80269c54.png) top right repeat-y;
}
/* line 183, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_next:hover {
  background: url(/assets/prettyPhoto/dark_rounded/btnNext-23d735648433359ad596b86fe37f0686.png) center right no-repeat;
  cursor: pointer;
}
/* line 186, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_previous:hover {
  background: url(/assets/prettyPhoto/dark_rounded/btnPrevious-caca1cea7fe583c861a32f9a11da05ea.png) center left no-repeat;
  cursor: pointer;
}
/* line 189, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_expand {
  background: url(/assets/prettyPhoto/dark_rounded/sprite-c07e821fd2a308c29b3f250355208961.png) -31px -26px no-repeat;
  cursor: pointer;
}
/* line 192, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_expand:hover {
  background: url(/assets/prettyPhoto/dark_rounded/sprite-c07e821fd2a308c29b3f250355208961.png) -31px -47px no-repeat;
  cursor: pointer;
}
/* line 195, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_contract {
  background: url(/assets/prettyPhoto/dark_rounded/sprite-c07e821fd2a308c29b3f250355208961.png) 0 -26px no-repeat;
  cursor: pointer;
}
/* line 198, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_contract:hover {
  background: url(/assets/prettyPhoto/dark_rounded/sprite-c07e821fd2a308c29b3f250355208961.png) 0 -47px no-repeat;
  cursor: pointer;
}
/* line 201, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_close {
  width: 75px;
  height: 22px;
  background: url(/assets/prettyPhoto/dark_rounded/sprite-c07e821fd2a308c29b3f250355208961.png) -1px -1px no-repeat;
  cursor: pointer;
}
/* line 206, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_description {
  margin-right: 85px;
  color: white;
}
/* line 210, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_nav .pp_play {
  background: url(/assets/prettyPhoto/dark_rounded/sprite-c07e821fd2a308c29b3f250355208961.png) -1px -100px no-repeat;
  height: 15px;
  width: 14px;
}
/* line 214, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_nav .pp_pause {
  background: url(/assets/prettyPhoto/dark_rounded/sprite-c07e821fd2a308c29b3f250355208961.png) -24px -100px no-repeat;
  height: 15px;
  width: 14px;
}
/* line 218, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_arrow_previous {
  background: url(/assets/prettyPhoto/dark_rounded/sprite-c07e821fd2a308c29b3f250355208961.png) 0 -71px no-repeat;
}
/* line 220, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_arrow_next {
  background: url(/assets/prettyPhoto/dark_rounded/sprite-c07e821fd2a308c29b3f250355208961.png) -22px -71px no-repeat;
}
/* line 223, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_bottom .pp_left {
  background: url(/assets/prettyPhoto/dark_rounded/sprite-c07e821fd2a308c29b3f250355208961.png) -88px -80px no-repeat;
}
/* line 225, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_bottom .pp_right {
  background: url(/assets/prettyPhoto/dark_rounded/sprite-c07e821fd2a308c29b3f250355208961.png) -110px -80px no-repeat;
}
/* line 227, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_loaderIcon {
  background: url(/assets/prettyPhoto/dark_rounded/loader-6d9522c49a2708479023ac85882dec94.gif) center center no-repeat;
}
/* line 230, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_left, div.dark_square .pp_middle, div.dark_square .pp_right, div.dark_square .pp_content {
  background: black;
}
/* line 232, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_description {
  color: white;
  margin: 0 85px 0 0;
}
/* line 235, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_loaderIcon {
  background: url(/assets/prettyPhoto/dark_square/loader-6d9522c49a2708479023ac85882dec94.gif) center center no-repeat;
}
/* line 237, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_expand {
  background: url(/assets/prettyPhoto/dark_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) -31px -26px no-repeat;
  cursor: pointer;
}
/* line 240, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_expand:hover {
  background: url(/assets/prettyPhoto/dark_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) -31px -47px no-repeat;
  cursor: pointer;
}
/* line 243, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_contract {
  background: url(/assets/prettyPhoto/dark_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) 0 -26px no-repeat;
  cursor: pointer;
}
/* line 246, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_contract:hover {
  background: url(/assets/prettyPhoto/dark_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) 0 -47px no-repeat;
  cursor: pointer;
}
/* line 249, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_close {
  width: 75px;
  height: 22px;
  background: url(/assets/prettyPhoto/dark_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) -1px -1px no-repeat;
  cursor: pointer;
}
/* line 254, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_nav {
  clear: none;
}
/* line 256, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_nav .pp_play {
  background: url(/assets/prettyPhoto/dark_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) -1px -100px no-repeat;
  height: 15px;
  width: 14px;
}
/* line 260, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_nav .pp_pause {
  background: url(/assets/prettyPhoto/dark_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) -24px -100px no-repeat;
  height: 15px;
  width: 14px;
}
/* line 264, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_arrow_previous {
  background: url(/assets/prettyPhoto/dark_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) 0 -71px no-repeat;
}
/* line 266, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_arrow_next {
  background: url(/assets/prettyPhoto/dark_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) -22px -71px no-repeat;
}
/* line 268, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_next:hover {
  background: url(/assets/prettyPhoto/dark_square/btnNext-23d735648433359ad596b86fe37f0686.png) center right no-repeat;
  cursor: pointer;
}
/* line 271, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_previous:hover {
  background: url(/assets/prettyPhoto/dark_square/btnPrevious-caca1cea7fe583c861a32f9a11da05ea.png) center left no-repeat;
  cursor: pointer;
}
/* line 275, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_square .pp_expand {
  background: url(/assets/prettyPhoto/light_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) -31px -26px no-repeat;
  cursor: pointer;
}
/* line 278, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_square .pp_expand:hover {
  background: url(/assets/prettyPhoto/light_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) -31px -47px no-repeat;
  cursor: pointer;
}
/* line 281, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_square .pp_contract {
  background: url(/assets/prettyPhoto/light_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) 0 -26px no-repeat;
  cursor: pointer;
}
/* line 284, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_square .pp_contract:hover {
  background: url(/assets/prettyPhoto/light_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) 0 -47px no-repeat;
  cursor: pointer;
}
/* line 287, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_square .pp_close {
  width: 75px;
  height: 22px;
  background: url(/assets/prettyPhoto/light_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) -1px -1px no-repeat;
  cursor: pointer;
}
/* line 293, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_square .pp_nav .pp_play {
  background: url(/assets/prettyPhoto/light_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) -1px -100px no-repeat;
  height: 15px;
  width: 14px;
}
/* line 297, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_square .pp_nav .pp_pause {
  background: url(/assets/prettyPhoto/light_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) -24px -100px no-repeat;
  height: 15px;
  width: 14px;
}
/* line 301, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_square .pp_arrow_previous {
  background: url(/assets/prettyPhoto/light_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) 0 -71px no-repeat;
}
/* line 303, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_square .pp_arrow_next {
  background: url(/assets/prettyPhoto/light_square/sprite-b8dc4f04d704874c8e70e2a311449501.png) -22px -71px no-repeat;
}
/* line 305, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_square .pp_next:hover {
  background: url(/assets/prettyPhoto/light_square/btnNext-23d735648433359ad596b86fe37f0686.png) center right no-repeat;
  cursor: pointer;
}
/* line 308, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_square .pp_previous:hover {
  background: url(/assets/prettyPhoto/light_square/btnPrevious-caca1cea7fe583c861a32f9a11da05ea.png) center left no-repeat;
  cursor: pointer;
}
/* line 313, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_top .pp_left {
  background: url(/assets/prettyPhoto/facebook/sprite-d89963b473fd5387f7513d393e5af778.png) -88px -53px no-repeat;
}
/* line 315, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_top .pp_middle {
  background: url(/assets/prettyPhoto/facebook/contentPatternTop-4edf99312276001cfe5a6c7587f31982.png) top left repeat-x;
}
/* line 317, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_top .pp_right {
  background: url(/assets/prettyPhoto/facebook/sprite-d89963b473fd5387f7513d393e5af778.png) -110px -53px no-repeat;
}
/* line 320, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_content_container .pp_left {
  background: url(/assets/prettyPhoto/facebook/contentPatternLeft-29ee3ed010767be5858f42e5ce6dabd2.png) top left repeat-y;
}
/* line 322, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_content_container .pp_right {
  background: url(/assets/prettyPhoto/facebook/contentPatternRight-2ebe58aa85ebe6a04382ca4c05522358.png) top right repeat-y;
}
/* line 324, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_expand {
  background: url(/assets/prettyPhoto/facebook/sprite-d89963b473fd5387f7513d393e5af778.png) -31px -26px no-repeat;
  cursor: pointer;
}
/* line 327, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_expand:hover {
  background: url(/assets/prettyPhoto/facebook/sprite-d89963b473fd5387f7513d393e5af778.png) -31px -47px no-repeat;
  cursor: pointer;
}
/* line 330, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_contract {
  background: url(/assets/prettyPhoto/facebook/sprite-d89963b473fd5387f7513d393e5af778.png) 0 -26px no-repeat;
  cursor: pointer;
}
/* line 333, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_contract:hover {
  background: url(/assets/prettyPhoto/facebook/sprite-d89963b473fd5387f7513d393e5af778.png) 0 -47px no-repeat;
  cursor: pointer;
}
/* line 336, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_close {
  width: 22px;
  height: 22px;
  background: url(/assets/prettyPhoto/facebook/sprite-d89963b473fd5387f7513d393e5af778.png) -1px -1px no-repeat;
  cursor: pointer;
}
/* line 341, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_description {
  margin: 0 37px 0 0;
}
/* line 343, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_loaderIcon {
  background: url(/assets/prettyPhoto/facebook/loader-beed53ec2c110061c550d10cb8f6896e.gif) center center no-repeat;
}
/* line 345, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_arrow_previous {
  background: url(/assets/prettyPhoto/facebook/sprite-d89963b473fd5387f7513d393e5af778.png) 0 -71px no-repeat;
  height: 22px;
  margin-top: 0;
  width: 22px;
}
/* line 350, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_arrow_previous.disabled {
  background-position: 0 -96px;
  cursor: default;
}
/* line 353, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_arrow_next {
  background: url(/assets/prettyPhoto/facebook/sprite-d89963b473fd5387f7513d393e5af778.png) -32px -71px no-repeat;
  height: 22px;
  margin-top: 0;
  width: 22px;
}
/* line 358, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_arrow_next.disabled {
  background-position: -32px -96px;
  cursor: default;
}
/* line 361, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_nav {
  margin-top: 0;
}
/* line 363, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_nav p {
  font-size: 15px;
  padding: 0 3px 0 4px;
}
/* line 366, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_nav .pp_play {
  background: url(/assets/prettyPhoto/facebook/sprite-d89963b473fd5387f7513d393e5af778.png) -1px -123px no-repeat;
  height: 22px;
  width: 22px;
}
/* line 370, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_nav .pp_pause {
  background: url(/assets/prettyPhoto/facebook/sprite-d89963b473fd5387f7513d393e5af778.png) -32px -123px no-repeat;
  height: 22px;
  width: 22px;
}
/* line 374, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_next:hover {
  background: url(/assets/prettyPhoto/facebook/btnNext-69d8fc701dbd954ae4b3857d933a85ff.png) center right no-repeat;
  cursor: pointer;
}
/* line 377, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_previous:hover {
  background: url(/assets/prettyPhoto/facebook/btnPrevious-9c7facd6ae8f2a306e56e72708685be4.png) center left no-repeat;
  cursor: pointer;
}
/* line 381, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_bottom .pp_left {
  background: url(/assets/prettyPhoto/facebook/sprite-d89963b473fd5387f7513d393e5af778.png) -88px -80px no-repeat;
}
/* line 383, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_bottom .pp_middle {
  background: url(/assets/prettyPhoto/facebook/contentPatternBottom-be8fa023b6fbbb3dba056f82f07914b6.png) top left repeat-x;
}
/* line 385, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_bottom .pp_right {
  background: url(/assets/prettyPhoto/facebook/sprite-d89963b473fd5387f7513d393e5af778.png) -110px -80px no-repeat;
}
/* line 387, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_pic_holder a:focus {
  outline: none;
}
/* line 389, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_overlay {
  background: black;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9500;
}
/* line 397, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_pic_holder {
  display: none;
  position: absolute;
  width: 100px;
  z-index: 10000;
}

/* line 403, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_content {
  height: 40px;
  min-width: 40px;
}

/* line 407, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
* html .pp_content {
  width: 40px;
}

/* line 410, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_content_container {
  position: relative;
  text-align: left;
  width: 100%;
}
/* line 414, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_content_container .pp_left {
  padding-left: 20px;
}
/* line 416, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_content_container .pp_right {
  padding-right: 20px;
}
/* line 418, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_content_container .pp_details {
  float: left;
  margin: 10px 0 2px;
}

/* line 422, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_description {
  display: none;
  margin: 0;
}

/* line 426, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_social {
  float: left;
  margin: 0;
}
/* line 429, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_social .facebook {
  float: left;
  margin-left: 5px;
  width: 55px;
  overflow: hidden;
}
/* line 434, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_social .twitter {
  float: left;
}

/* line 437, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_nav {
  clear: right;
  float: left;
  margin: 3px 10px 0 0;
}
/* line 441, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_nav p {
  float: left;
  white-space: nowrap;
  margin: 2px 4px;
}
/* line 445, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_nav .pp_play, .pp_nav .pp_pause {
  float: left;
  margin-right: 4px;
  text-indent: -10000px;
}

/* line 451, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
a.pp_arrow_previous, a.pp_arrow_next {
  display: block;
  float: left;
  height: 15px;
  margin-top: 3px;
  overflow: hidden;
  text-indent: -10000px;
  width: 14px;
}

/* line 460, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_hoverContainer {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000;
}

/* line 466, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_gallery {
  display: none;
  left: 50%;
  margin-top: -50px;
  position: absolute;
  z-index: 10000;
}
/* line 472, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_gallery div {
  float: left;
  overflow: hidden;
  position: relative;
}
/* line 476, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_gallery ul {
  float: left;
  height: 35px;
  position: relative;
  white-space: nowrap;
  margin: 0 0 0 5px;
  padding: 0;
}
/* line 483, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_gallery ul a {
  border: 1px rgba(0, 0, 0, 0.5) solid;
  display: block;
  float: left;
  height: 33px;
  overflow: hidden;
}
/* line 489, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_gallery ul a img {
  border: 0;
}
/* line 491, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_gallery li {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}
/* line 496, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_gallery li.default a {
  background: url(/assets/prettyPhoto/facebook/default_thumbnail-d232e40b478e845b6db0f00925cd2090.gif) 0 0 no-repeat;
  display: block;
  height: 33px;
  width: 50px;
}
/* line 501, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_gallery .pp_arrow_previous, .pp_gallery .pp_arrow_next {
  margin-top: 7px !important;
}

/* line 505, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
a.pp_next {
  background: url(/assets/prettyPhoto/light_rounded/btnNext-23d735648433359ad596b86fe37f0686.png) 10000px 10000px no-repeat;
  display: block;
  float: right;
  height: 100%;
  text-indent: -10000px;
  width: 49%;
}
/* line 512, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
a.pp_previous {
  background: url(/assets/prettyPhoto/light_rounded/btnNext-23d735648433359ad596b86fe37f0686.png) 10000px 10000px no-repeat;
  display: block;
  float: left;
  height: 100%;
  text-indent: -10000px;
  width: 49%;
}
/* line 519, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
a.pp_expand, a.pp_contract {
  cursor: pointer;
  display: none;
  height: 20px;
  position: absolute;
  right: 30px;
  text-indent: -10000px;
  top: 10px;
  width: 20px;
  z-index: 20000;
}
/* line 529, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
a.pp_close {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  line-height: 22px;
  text-indent: -10000px;
}

/* line 537, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_loaderIcon {
  display: block;
  height: 24px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 24px;
  margin: -12px 0 0 -12px;
}

/* line 546, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
#pp_full_res {
  line-height: 1 !important;
}
/* line 548, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
#pp_full_res .pp_inline {
  text-align: left;
}
/* line 550, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
#pp_full_res .pp_inline p {
  margin: 0 0 15px;
}

/* line 554, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.ppt {
  color: white;
  display: none;
  font-size: 17px;
  z-index: 9999;
  margin: 0 0 5px 15px;
}
/* line 560, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_content, div.light_rounded .pp_content {
  background-color: white;
}
/* line 562, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default #pp_full_res .pp_inline {
  color: black;
}
/* line 565, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_content .ppt, div.light_rounded #pp_full_res .pp_inline {
  color: black;
}
/* line 568, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_square .pp_content .ppt, div.light_square #pp_full_res .pp_inline {
  color: black;
}
/* line 571, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_content .ppt, div.facebook #pp_full_res .pp_inline {
  color: black;
}
/* line 574, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_gallery ul li a:hover, div.pp_default .pp_gallery ul li.selected a {
  border-color: white;
}

/* line 578, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_gallery ul a:hover, .pp_gallery li.selected a {
  border-color: white;
}

/* line 582, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.pp_default .pp_details, div.light_rounded .pp_details, div.dark_rounded .pp_details, div.dark_square .pp_details, div.light_square .pp_details, div.facebook .pp_details {
  position: relative;
}
/* line 585, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_top .pp_middle {
  background: white;
}
/* line 588, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_content_container .pp_left, div.light_rounded .pp_content_container .pp_right {
  background: white;
}
/* line 590, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_bottom .pp_middle {
  background: white;
}
/* line 593, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_square .pp_left, div.light_square .pp_middle, div.light_square .pp_right, div.light_square .pp_content {
  background: white;
}
/* line 595, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.facebook .pp_content {
  background: white;
}
/* line 597, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_description, div.light_square .pp_description {
  margin-right: 85px;
}
/* line 600, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_gallery a.pp_arrow_previous, div.light_rounded .pp_gallery a.pp_arrow_next {
  margin-top: 12px !important;
}
/* line 603, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_gallery a.pp_arrow_previous, div.dark_rounded .pp_gallery a.pp_arrow_next {
  margin-top: 12px !important;
}
/* line 606, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .pp_gallery a.pp_arrow_previous, div.dark_square .pp_gallery a.pp_arrow_next {
  margin-top: 12px !important;
}
/* line 609, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_square .pp_gallery a.pp_arrow_previous, div.light_square .pp_gallery a.pp_arrow_next {
  margin-top: 12px !important;
}
/* line 611, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_arrow_previous.disabled, div.dark_rounded .pp_arrow_previous.disabled, div.dark_square .pp_arrow_previous.disabled, div.light_square .pp_arrow_previous.disabled {
  background-position: 0 -87px;
  cursor: default;
}
/* line 614, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_arrow_next.disabled, div.dark_rounded .pp_arrow_next.disabled, div.dark_square .pp_arrow_next.disabled, div.light_square .pp_arrow_next.disabled {
  background-position: -22px -87px;
  cursor: default;
}
/* line 617, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.light_rounded .pp_loaderIcon, div.light_square .pp_loaderIcon {
  background: url(/assets/prettyPhoto/light_rounded/loader-beed53ec2c110061c550d10cb8f6896e.gif) center center no-repeat;
}
/* line 620, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .pp_top .pp_middle, div.dark_rounded .pp_content, div.dark_rounded .pp_bottom .pp_middle {
  background: url(/assets/prettyPhoto/dark_rounded/contentPattern-9afa2af58c1369fc31c3a66d80269c54.png) top left repeat;
}
/* line 622, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded .currentTextHolder {
  color: #c4c4c4;
}
/* line 624, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_square .currentTextHolder {
  color: #c4c4c4;
}
/* line 626, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
div.dark_rounded #pp_full_res .pp_inline, div.dark_square #pp_full_res .pp_inline {
  color: white;
}

/* line 629, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_top, .pp_bottom {
  height: 20px;
  position: relative;
}

/* line 634, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
* html .pp_top, * html .pp_bottom {
  padding: 0 20px;
}

/* line 637, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_top .pp_left, .pp_bottom .pp_left {
  height: 20px;
  left: 0;
  position: absolute;
  width: 20px;
}

/* line 643, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_top .pp_middle, .pp_bottom .pp_middle {
  height: 20px;
  left: 20px;
  position: absolute;
  right: 20px;
}

/* line 650, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
* html .pp_top .pp_middle, * html .pp_bottom .pp_middle {
  left: 0;
  position: static;
}

/* line 654, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_top .pp_right, .pp_bottom .pp_right {
  height: 20px;
  left: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

/* line 662, /home/administrator/.rvm/gems/ruby-2.1.0/gems/prettyphoto-rails-0.2.1/vendor/assets/stylesheets/prettyphoto-rails.sass */
.pp_fade, .pp_gallery li.default a img {
  display: none;
}
.gp-gallery-picture-zoom, .gp-gallery-picture-hover {
    border: 1px solid #bbb;
    margin: -3px 0 0 -3px;
    position: absolute;
    z-index: 100;
    padding: 5px;
    background: white;
    box-shadow: 0 0 10px #999;
}
.gp-gallery-picture-hover {
    box-shadow: 1px 1px 5px #333;
}
/* line 2, /var/rails/pira/app/themes/solution/assets/stylesheets/solution/portfolio/portfolio.css.scss */
.album_image img {
  max-width: 300px;
  max-height: 300px;
}

/* line 8, /var/rails/pira/app/themes/solution/assets/stylesheets/solution/portfolio/portfolio.css.scss */
.pagination {
  display: block;
  text-align: center;
  margin: 15px auto;
  font-size: 15px;
}
/* line 9, /var/rails/pira/app/themes/solution/assets/stylesheets/solution/portfolio/portfolio.css.scss */
.pagination ul, .pagination li {
  list-style-type: none;
}
/* line 12, /var/rails/pira/app/themes/solution/assets/stylesheets/solution/portfolio/portfolio.css.scss */
.pagination li {
  display: inline;
}

/* line 21, /var/rails/pira/app/themes/solution/assets/stylesheets/solution/portfolio/portfolio.css.scss */
.portfolio_image {
  margin: 30px auto;
  width: 980px;
}
/* line 24, /var/rails/pira/app/themes/solution/assets/stylesheets/solution/portfolio/portfolio.css.scss */
.portfolio_image a {
  display: inline-block;
}
/* line 27, /var/rails/pira/app/themes/solution/assets/stylesheets/solution/portfolio/portfolio.css.scss */
.portfolio_image .portfolio {
  display: inline-block;
  float: left;
}
