<div class="col-md-8">
  <h4>Добро пожаловать на сайт Пятигорской Информационно-Рекламной Компании "ПИРА"</h4>
  <em> С нами Ваш бизнес обретет новую жизнь! </em><br><br>
  Адрес: г. Пятигорск, пр. Калинина, 68<br>
  Телефон: 8 (928) - 3 - 194 - 194
  <br>
  <br>
  <em>Приглашаем к сотрудничеству поставщиков рекламных конструкций</em>
</div>