<div class="col-md-8">
  <h4>Welcome to the Pyatigorsk Information and Advertising Company "PIRA"</h4>
  <em> With us, your business will gain a new life! </em><br><br>
  Address: Pyatigorsk, Kalinina, 68<br>
  Phone: 8 (928) - 3 - 194 - 194
  <br>
  <br>
  <b><em>We invite to mutually advantageous cooperation owners of advertising space</em></b>
  <div class="col-lg-10">
    <%= image_tag image_path('thumb_91243bab5044331e97b8df84600cd243.jpg'), style: 'float:left' %>
    <br>
    <br>
    <br>
    <h4 style="font-weight: bold">Attention, action! </h4>
         Wholesale prices for city-formats: <br>
         for orders of 10 units just by <b> 40000 </b> rubles! <br>
  </div>
</div>
