<div class="col-md-8">
  <h4>Добро пожаловать на сайт Пятигорской Информационно-Рекламной Компании "ПИРА"</h4>
  <em> С нами Ваш бизнес обретет новую жизнь! </em><br><br>
  Адрес: г. Пятигорск, пр. Калинина, 68<br>
  Телефон: 8 (928) - 3 - 194 - 194
  <br>
  <br>
  <b><em>Приглашаем к взаимовыгодному сотрудничеству владельцев рекламных площадей</em></b>
  <div class="col-lg-10">
    <%= image_tag image_path('thumb_91243bab5044331e97b8df84600cd243.jpg'), style: 'float:left' %>
    <br>
    <br>
    <br>
    <h4 style="font-weight: bold">Внимание, акция!</h4>
    Оптовые цены на сити-форматы:<br>
    при заказе от 10 шт. всего по <b>40 000</b> рублей!<br>
  </div>
</div>
