<% content_for :title, 'Продажа комплектующих для LED бегущих строк и LED экранов оптом' %>
<div class="container">
  <div class="center-block">
    <h2>Продажа комплектующих для LED бегущих строк и LED экранов оптом</h2>
    <div class="row">
      <div style="padding: 15px;text-indent: 25px">
        <p>
          Мы продаем комплектующие для LED бегущих строк и светодиодных LED экранов <b>оптом</b>.<br>
          У нас всегда есть в наличии цветные и монохромные модули; для наружных и внутренних применений. Блоки питания, контроллеры серии для программы PowerLed и Led Show T9, алюминиевый профиль и многое другое, связанное с самостоятельным изготовлением бегущих строк и медиа экранов. Купить светодиодные модули для LED бегущих строк и комплектующие Вы можете, просто позвонив нам. Наши сотрудники ответят на интересующие вопросы по сборке и монтажу бегущих строк.
        </p>
        <p>

        </p>
        <br><br>
        <div style="margin-left:-50px;text-align: center;text-indent: 0">
          <% Dir.glob("#{Rails.root}/app/assets/images/led-sales/*").each do |path| %>
              <div style="display: inline-block">
                <%= image_tag image_path(path.sub("#{Rails.root}/app/assets/images/", '')), style: 'max-width:300px' %>
              </div>
          <% end %>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>