<div class="container">
  <div class="row">
    <h2>Make money with us!</h2>
    In our office reigns the spirit of friendship and creativity. We invite to our team talented and creative people who wants to work and <b>earn</b>.
    <br><br>
    If you are not alien to the concept of creativity, you can work with us!
    <br><br><br>
    <div style="margin:25px">
      At the moment, we are actively seeking:
      <ul>
        <li><b>Designers with experience (competitively)</b></li>
        <li><b>Advertising managers</b></li>
        <li><b>Web designers and programmers</b></li>
      </ul>
      <br>
      The working group is required for:
      <ul>
        <li><b>Mounter-driver</b></li>
        <li><b>Mounter</b></li>
        <li><b>Master in the production department with experience</b></li>
        <li><b>Master to work with milling and engraving machines of the latest generation</b></li>
      </ul>
      <br>
      If you wish to show your abilities - call us!
      <br><b>+7 (928) 3-194-194</b>
      <br><br>
    </div>
  </div>
</div>