<div class="container">
  <div class="row">
    <h2>Зарабатывай с нами!</h2>
    В нашем офисе царит дух дружбы и креатива. Мы приглашаем в нашу команду талантливых и креативных людей, желающих не работать, а <b>зарабатывать</b>.
    <br><br>
    Если тебе не чужды понятия "креативности" и творчества, то ты можешь работать с нами!
    <br><br><br>
    <div style="margin:25px">
      На данный момент мы активно ищем:
      <ul>
        <li><b>Дизайнеров с опытом работы (на конкурсной основе)</b></li>
        <li><b>Менеджеров по рекламе</b></li>
        <li><b>Веб-дизайнеров и программистов</b></li>
      </ul>
      <br>
      В рабочую группу требуются:
      <ul>
        <li><b>Монтажник-водитель</b></li>
        <li><b>Монтажник</b></li>
        <li><b>Мастер в производственный цех с опытом работы</b></li>
        <li><b>Мастер по работе с фрезеровочно-гравировальными станками последнего поколения</b></li>
      </ul>
      <br>
      Если ты желаешь проявить свои способности - звони!
      <br><b>+7 (928) 3-194-194</b>
      <br><br>
    </div>
  </div>
</div>