<div class="two-cols">
  <div class="tc-left">
    <h4>Понятие системы конструктор «Бин-бокс»</h4>

    <p>Профильная система «DiM-Bin» предназначена для сборки рекламных конструкций типа рекламные урны
      (Бин-боксы).<br>
      Профильные системы DiM-Bin предназначены для сборки рекламных урн (бин-боксов), в которых замена рекламных
      изображений осуществляется через боковые плоскости конструкции с помощью открывающихся (левой / правой)
      створок.<br>
      <br>
      В рекламные урны, основанные на системах «DiM-Bin» возможна установка роллерных систем (по принципу скроллеров
      сити-формата) в результате чего получаются Роллерные Бин-Боксы.<br>
      <br>
      Отличительной чертой профильных системы «DiM-Bin» является качество поставляемого профиля, а так же продуманный
      конструкторский подход, в результате чего бин-боксы, собираемые в соответствии с предлагаемым нашей компанией
      технологическим процессом сборки, обладают современным дизайном, высокой прочностью, качеством узловых
      соединений и долговечным сроком службы готового изделия.</p></div>
  <div class="tc-right">
    <h4>Освещение</h4>

    <p>Освещение внутри бин-бокса может быть реализовано посредством:<br>
      — Люминесцентных ламп<br>
      — Светодиодной ленты <br>
      Использование светодиодной ленты MS-12-3L-W DC12V 0.5W IP67 <br>
      Мощность одного модуля — 0,5 Вт<br>
      <br>
      Для включения / выключения питания внутри конструкции используется дифф. автомат типа DC12V 18W 1,6A IP67<br>
      <br>
      Системы-конструкторы не комплектуются элементами освещения.<br>
      Установка ламп производится на элементы, называемые в спецификации ламподержатели. Электропроводка для
      подключения ЭПРА производится внутри конструкции на плоскостях Б (см. спецификацию). <br>
      Установка светодиодной ленты с соответствующей электропроводкой осуществляется по контуру С (см. спецификацию).
      <br>
      Автомат УЗО (необходимый для включения питания) устанавливается на плоскости Б.</p></div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">

    <%= image_tag image_path('production/diy/diy-binbox-1.jpg'), alt: '', style: 'margin-right:-440px;' %>

  </div>
  <div class="tc-right">

    <br><br>
    <em>Рисунок 1. Бин-бокс, Система-конструктор</em>
    <br><br>

    <p>Документация с описанием технологического процесса сборки рекламных урн на основе систем «DiM-Bin» высылается
      заказчику после заключения договора на приобретение комплектующих (в соответствии со спецификацией).
      <br><br>
      Номера деталей соответствуют позициям в спецификации </p>
    <br>

    <div class="files-list">
      <div class="doc" style="float:left;">
        <a href="/files/diy_binbox_busines.doc">Спецификация Бизнес</a>
        <span>(размер 2,42 Мб, .DOC)</span>
      </div>
      <div class="doc" style="float:left;">
        <a href="/files/diy_binbox_hitech.doc">Спецификация Хайтек</a>
        <span>(размер 0,9 Мб, .DOC)</span>
      </div>
    </div>

  </div>
</div>

<div class="two-cols">
  <div class="tc-left">

    <h4>Дополнительные комплектующие</h4>

    <p>В спецификации указывается точное количество дополнительных деталей приобретаемых по месту сборки.</p>

  </div>
  <div class="tc-right">

    <h4>Доставка</h4>

    <p>Приблизительные расчёты связанные с затратами на транспортировку Вы сможете сделать на сайте
      компании-грузоперевозчика ООО «Желдорэкспедиция» указав пункт назначения, вес и объём груза по ссылке
      <a href="http://www.jde.ru/calc" target="_blank">http://www.jde.ru/calc</a>
      <br><br>
      Объём (v), вес (m) упаковки системы-конструктора «DiM-Bin»: <br>
      V = 0,3 куб.м, m = 15 кг. <br>
      Объём (v), вес (m) упаковки готового изделия типа Бин-бокс: <br>
      V = 0,9 куб.м, m = 65 кг. </p>

  </div>
</div>

<h4>Расчёт ориентировочной стоимости дополнительных комплектующих</h4>

<p>Ориентировочная стоимость дополнительных материалов, не включённых в комплектацию конструктора:</p>
<table cellpadding="0" cellspacing="0" class="specifications">
  <tbody>
  <tr class="thead">
    <td width="540">
      <div style="height:22px;">Наименование</div>
    </td>
    <td>
      <div style="height:22px;">Цена (в рублях)</div>
    </td>
  </tr>
  <tr>
    <td>Профильная труба (в соответствии со спецификацией)</td>
    <td>700 Р</td>
  </tr>
  <tr>
    <td>Сварочные работы в соответствии с технологическим процессом</td>
    <td>3 000 Р</td>
  </tr>
  <tr>
    <td colspan="2">Необходимо изготовить два небольших прямоугольных каркаса, совместив их с основным каркасом (см.
      технологический процесс сборки)
    </td>
  </tr>
  <tr>
    <td>Затраты на сборку</td>
    <td>не более 3 000 Р (по месту)</td>
  </tr>
  <tr>
    <td>Итого (ориентировочная стоимость дополнительных затрат и комплектующих)</td>
    <td>не более 6 700 Р</td>
  </tr>
  </tbody>
</table>
<br><br>
<h4>Итоговая стоимость продукции, получаемая по месту сборки:</h4>
Основной комплект —15 400 Р<br>
Дополнительные комплектующие 6 700 Р = 22 100 Р<br>
Таким образом, итоговая стоимость продукции составит не более 15 400 + 6 700 = 22 100 Р<br>

<p></p>