<div class="two-cols">
  <div class="tc-left">
    <h4>Понятие системы конструктор «ДиМ-0801-1»</h4>

    <p>Остановочный павильон ДиМ-0801-1 — это остановочный комплекс<br>с установленным в него лайбоксом сити формата,
      отличающийся элегантным дизайном. Лайтбоксы сити форма в остановочном павильоне ДиМ-0801-1 могут дополнительно
      комплектоваться роллерными системами (см. <a href="/dss_roll">Цифровые роллерные системы</a>).</p>
    <br>

    <p class="pinknote">Системы конструкторы уменьшают на порядок расходы по доставке, так как объём комплекта
      поставки значительно уменьшается.</p>
    <br>

    <p>Профильная система «DiM-BUS» предназначена для самостоятельной сборки рекламных конструкций типа остановочные
      павильоны. Отличительной чертой профильных системы «DiM-BUS» является качество поставляемого профиля, а так же
      продуманный конструкторский подход, в результате чего конструкции, собираемые в соответствии с предлагаемым
      нашей компанией технологическим процессом сборки, обладают современным дизайном, высокой прочностью, качеством
      узловых соединений и долговечным сроком службы готового изделия.</p></div>
  <div class="tc-right">
    <h4>Освещение</h4>

    <p>Системы-конструкторы элементами освещения не комплектуются. <br>
      <br>
      При установке освещения в лайтбокс остановочного павильона наша компания использует два отработанных на практике
      решения.<br>
      Первое решение:<br>
      Использование люминисцентных ламп (Philips 58 Вт) совместно с ЭПРА (2 х 58 Вт, Comtech или Osram) для их
      запуска. Количество ламп — от 4 до 6 шт. на единицу изделия. Общая потребляемая мощность — от 240 до 360 Вт.<br>
      Второе решение:<br>
      Использование светодиодной ленты MS-12-3L-W DC12V 0.5W IP67 <br>
      Мощность одного модуля — 0,5 Вт. Количество светодиодных модулей — от 30 до 50 шт. Общая потребляемая мощность —
      от 15 до 25 Вт.<br>
      <br>
      Для включения / выключения питания внутри конструкции используется дифф. автомат типа DC12V 18W 1,6A IP67</p>
  </div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">

    <%= image_tag image_path('production/diy/diy-dim-2.jpg'), alt: '', style: 'margin-right:-440px;' %>

  </div>
  <div class="tc-right">

    <br><br>
    <em>Рисунок 1. Система-конструктор ДиМ-0807</em>
    <br><br>

    <p>Документация с описанием техпроцесса по сборке остановочного павильона ДиМ-0807 на основе систем «DiM-BUS»
      высылается заказчику после заключения договора на приобретение комплектующих (в соответствии со спецификацией).
      <br>
      <br>
      Номера деталей соответствуют позициям в спецификации </p>
    <br>

    <div class="files-list">
      <div class="doc">
        <a href="/files/diy_busstop.doc">Спецификация</a>
        <span>(размер 1,4 МБ, DOC)</span>
      </div>
    </div>

  </div>
</div>

<div class="two-cols">
  <div class="tc-left">

    <h4>Дополнительные комплектующие</h4>

    <p>Дополнительные комплектующие — комплектующие приобретаемые заказчиком по месту сборки (местонахождение, регион,
      город) необходимые для осуществления полной сборки изделия в соответствии с технологическим процессом.
      Дополнительные комплектующие — стандартные материалы, имеющиеся в свободной продаже в каждом регионе РФ. Ниже
      приведены расчёты ориентировочной стоимости доплнительных комплектующих. Расчёты сформированы исходя из средней
      стоимости указанных материалов на территории РФ
      <br><br>
      Точное количество дополнительных комплектующих приобретаемых по месту сборки деталей указывается в спецификации.
    </p>
    <br>

    <div class="files-list">
      <div class="doc">
        <a href="/files/add-specific.doc">Спецификация дополнительных комплектующих</a>
        <span>(DOC)</span>
      </div>
    </div>

  </div>
  <div class="tc-right">

    <h4>Доставка</h4>

    <p>Приблизительные расчёты связанные с затратами на транспортировку Вы сможете сделать на сайте
      компании-грузоперевозчика ООО «Желдорэкспедиция» указав пункт назначения, вес и объём груза по ссылке
      <a href="http://www.jde.ru/calc">http://www.jde.ru/calc</a>
      <br><br>
      Объём (v), вес (m) упаковки системы-конструктора «DiM-BUS»: <br>
      V = 1,3 куб.м, m = 98 кг.<br>
      Объём (v), вес (m) готового изделия типа остановочный павильон <br>
      типа ДиМ-0807:<br>
      V = 3 куб.м, m = 250 кг.<br>
      <br>
      Транспортировка готовых изделий до необходимого места установки (региона заказчика) может так же осуществляется
      отдельным автотранспортом. Для получения информации по стоимости доставки звоните: многоканальный телефон + 7
      (3452) 69-47-07.</p>

  </div>
</div>

<h4>Расчёт ориентировочной стоимости дополнительных комплектующих</h4>
<table cellpadding="0" cellspacing="0" class="specifications">
  <tbody>
  <tr class="thead">
    <td width="440">
      <div style="height:22px;">Наименование</div>
    </td>
    <td>
      <div style="height:22px;">Цена (в рублях)</div>
    </td>
  </tr>
  <tr>
    <td>Cтекло (6 мм), калёное 4 листа (в соответствии со спецификацией)</td>
    <td>12 000 Р</td>
  </tr>
  <tr>
    <td>Сотовый поликарбонат 2,1х 6 м, толщина 6 мм</td>
    <td>2 400 Р</td>
  </tr>
  <tr>
    <td>Затраты на сборку (см. техпроцесс сборки)</td>
    <td>не более 5 000 Р</td>
  </tr>
  <tr>
    <td>Итого (ориентировочная стоимость дополнительных затрат)</td>
    <td>19 400 Р</td>
  </tr>
  </tbody>
</table>
<br><br>
<h4>Итоговая стоимость продукции, получаемая по месту сборки:</h4>
Основной комплект (50 900 Р) + Дополнительные затраты (19 400 Р) = 70 300 Р<br>
<br>
Таким образом, итоговая стоимость продукции составит 70 300 Р<br>
Стоимость готовой продукции в соответствии с прайс-листом — 95 000 Р<p></p>