<div class="two-cols">
  <div class="tc-left">
    <h4>Понятие системы конструктор «Сити-бокс»</h4>

    <p>Сити-боксы — это конструкции с яркой внутренней подсветкой, построенный на базе сити-формата и несущими в себе
      дополнительную социальную функцию в виде мусоросборного контейнера в плоскости расположения опоры конструкции.
      Ситибоксы могут дополнительно комплектоваться роллерными системами аналогично сити-форматам.</p>
    <br>

    <p class="pinknote">Системы конструкторы уменьшают на порядок расходы по доставке, так как объём комплекта
      поставки значительно уменьшается.</p>
    <br>

    <p>Профильная система «DiM-SB» предназначена для самостоятельной сборки рекламных конструкций типа ситибокс.
      Отличительной чертой профильных системы «DiM-SB» является качество поставляемого профиля, а так же продуманный
      конструкторский подход, в результате чего конструкции, собираемые в соответствии с предлагаемым нашей компанией
      технологическим процессом сборки, обладают современным дизайном, высокой прочностью, качеством узловых
      соединений и долговечным сроком службы готового изделия.</p></div>
  <div class="tc-right">
    <h4>Освещение</h4>

    <p>Системы-конструкторы элементами освещения не комплектуются. <br>
      <br>
      При установке освещения в готовые конструкции наша компания использует два отработанных на практике решения.<br>
      Первое решение: <br>
      Использование люминисцентных ламп (Philips 58 Вт) совместно с ЭПРА (2 х 58 Вт, Comtech или Osram) для их
      запуска.<br>
      Количество ламп — от 4 шт до 6 шт. на единицу изделия. Общая потребляемая мощность 240 — 360 Вт<br>
      Второе решение:<br>
      Использование светодиодной ленты MS-12-3L-W DC12V 0.5W IP67 <br>
      Мощность одного модуля — 0,5 Вт. Среднее количество светодиодных модулей от 30 — 50 шт. Общая потребляемая
      мощность 15 — 25 Вт<br>
      <br>
      Для включения / выключения питания внутри конструкции используется дифф. автомат типа DC12V 18W 1,6A IP67</p>
  </div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">

    <%= image_tag image_path('production/diy/diy-citybox-1.jpg'), alt: '', style: 'margin-right:-440px;' %>

  </div>
  <div class="tc-right">

    <br><br>
    <em>Рисунок 1. Система-конструктор Ситибокс</em>
    <br><br>

    <p>Документация с описанием технологического процесса по сборке ситибокса на основе систем «DiM-SB» высылается
      заказчику после заключения договора на приобретение комплектующих (в соответствии со спецификацией). <br>
      <br>
      Номера деталей соответствуют позициям в спецификации</p>
    <br>

    <div class="files-list">
      <div class="doc">
        <a href="/files/diy_citybox.doc">Спецификация</a>
        <span>(размер 1,51 Мб, .DOC)</span>
      </div>
    </div>

  </div>
</div>

<div class="two-cols">
  <div class="tc-left">

    <h4>Дополнительные комплектующие</h4>

    <p>Дополнительные комплектующие — комплектующие приобретаемые заказчиком по месту сборки (местонахождение, регион,
      город) необходимые для осуществления полной сборки изделия в соответствии с технологическим процессом.
      Дополнительные комплектующие — стандартные материалы, имеющиеся в свободной продаже в каждом регионе РФ.
      <br><br>
      Ниже приведены расчёты ориентировочной стоимости доплнительных комплектующих. Расчёты сформированы исходя из
      средней стоимости указанных материалов на территории РФ
      <br><br>
      Точное количество дополнительных комплектующих приобретаемых по месту сборки деталей указывается в спецификации.
    </p>
    <br>

  </div>
  <div class="tc-right">

    <h4>Доставка</h4>

    <p>Приблизительные расчёты связанные с затратами на транспортировку Вы сможете сделать на сайте
      компании-грузоперевозчика ООО «Желдорэкспедиция» указав пункт назначения, вес и объём груза по ссылке
      <a href="http://www.jde.ru/calc">http://www.jde.ru/calc</a>
      <br><br>
      Объём (v), вес (m) упаковки системы-конструктора «DiM-SB»: <br>
      V = 2.5 куб.м, m = 95 кг.<br>
      Объём (v), вес (m) упаковки готового изделия типа Ситибокс:<br>
      V = 3 куб.м, m = 105 кг.<br>
      Объём (v), вес (m) упаковки мусоросборного контейнера:<br>
      V = 2 куб.м, m = 60 кг.<br>
      <br>
      Транспортировка готовых изделий до необходимого места установки (региона заказчика) может так же осуществляется
      отдельным автотранспортом. Для получения информации по стоимости доставки звоните: многоканальный телефон + 7
      (3452) 69-47-07.</p>

  </div>
</div>

<h4>Расчёт ориентировочной стоимости дополнительных комплектующих</h4>
<table cellpadding="0" cellspacing="0" class="specifications">
  <tbody>
  <tr class="thead">
    <td width="440">
      <div style="height:22px;">Наименование</div>
    </td>
    <td>
      <div style="height:22px;">Цена (в рублях)</div>
    </td>
  </tr>
  <tr>
    <td>Профильная труба 60 х 40 мм (в соответствии со спецификацией)</td>
    <td>2 000 Р</td>
  </tr>
  <tr>
    <td>Профильная труба 40 х 20 мм (в соответствии со спецификацией)</td>
    <td>300 Р</td>
  </tr>
  <tr>
    <td>Сварочные работы согласно пунктам технологического процесса</td>
    <td>5 000 Р</td>
  </tr>
  <tr>
    <td>Затраты на сборку</td>
    <td>не более 3 000 Р</td>
  </tr>
  <tr>
    <td>Затраты на установку элементов освещения<br>
      <small>*(см. пункт освещение выше по тексту)</small>
    </td>
    <td>1 000 Р</td>
  </tr>
  <tr>
    <td>Итого (ориентировочная стоимость дополнительных затрат)</td>
    <td>9 300 Р</td>
  </tr>
  </tbody>
</table>
<br><br>
<h4>Итоговая стоимость продукции, получаемая по месту сборки:</h4>
Основной комплект (29 000 Р) + дополнительные затраты (9 300 Р) = 38 300 Р<br>
<br>
Таким образом, итоговая стоимость продукции составит 38 300 Р<br>
Стоимость готовой продукции в соответствии с прайс-листом — 59 000 Р<p></p>