<div class="two-cols">
  <div class="tc-left">
    <h4>Понятие «Цифровые роллерные системы»</h4>

    <p>Цифровые роллерные системы, производимые нашей компанией — это вид продукции полностью готовый к установке в
      любые виды световых коробов и другие рекламные конструкции.<br>
      <br>
      Инструкция по установке роллерных систем в рекламную конструкцию поставляется с комплектом поставки роллерной
      системы.</p>
    <br><br>
    <%= image_tag image_path('production/diy/diy-dss-1.jpg'), alt: '', style: '' %></div>
  <div class="tc-right">
    <h4>Установка роллерных механизмов</h4>

    <p>Процесс установки роллерных механизмов производства компании «ДиМедиа» в рекламную конструкцию не более 30 — 60
      мин. Это объясняется простотой и грамотной конструктивно реализованной технологии построения механических
      элементов системы, которая оснащена новейшей цифровой системой управления позиционирования постеров. В роллерной
      системе функционируют шаговые безщёточные двигатели.</p>
    <br><br>
    <%= image_tag image_path('production/diy/diy-dss-2.jpg'), alt: '', style: '' %></div>
</div>

<p></p>

<p>Компания «ДиМедиа» осуществляет поставки роллерных систем для различных размеров площадей изображения рекламной
  поверхности:</p>
<table cellpadding="0" cellspacing="0" class="specifications">
  <tbody>
  <tr class="thead">
    <td width="160">
      <div>Наименование роллерной системы</div>
    </td>
    <td width="80">
      <div>Площадь рекламного поля</div>
    </td>
    <td width="80">
      <div>Мощность двигателей</div>
    </td>
    <td width="80">
      <div>Диаметр вала</div>
    </td>
    <td>
      <div>Рекомендуемые форматы для использования, примечания</div>
    </td>
    <td width="80">
      <div>Спецификация</div>
    </td>
  </tr>
  <tr>
    <td>Цифровая роллерная система<br>DSS — 51 Dim</td>
    <td>1 — 3 м<sup>2</sup></td>
    <td>40 Вт</td>
    <td>51 мм</td>
    <td>0,8 х 1,2 м (мини)<br>1,2 х 1,8 м (сити)<br>Вал — профиль алюминиевый</td>
    <td><a href="/files/DSS-30Dim.doc" class="download doc">Скачать</a></td>
  </tr>
  <tr>
    <td>Цифровая роллерная система<br>DSS — 55 Dim</td>
    <td>1 — 3 м2</td>
    <td>40 Вт</td>
    <td>51 мм</td>
    <td>1,2 х 1,8 м (сити)<br>1 х 3 м<br>Вал — профиль алюминиевый</td>
    <td><a href="/files/DSS-40Dim.doc" class="download doc">Скачать</a></td>
  </tr>
  <tr>
    <td>Цифровая роллерная система<br>DSS — 76 Dim</td>
    <td>3 — 6 м2</td>
    <td>60 Вт</td>
    <td>76 мм</td>
    <td>1,4 х 2,8 м<br>2 х 3 м<br>Вал — профиль алюминиевый</td>
    <td><a href="/files/DSS-60Dim.doc" class="download doc">Скачать</a></td>
  </tr>
  <tr>
    <td>Цифровая роллерная система<br>DSS — 80 Dim</td>
    <td>6 — 10 м2</td>
    <td>70 Вт</td>
    <td>76 мм</td>
    <td>3 х 4 м (ситиборд)<br>2,3 х 4,3 м<br>Вал — профиль алюминиевый</td>
    <td><a href="/files/DSS-70Dim.doc" class="download doc">Скачать</a></td>
  </tr>
  </tbody>
</table>
<p></p>