<div class="two-cols">
  <div class="tc-left">
    <h4>Понятие системы конструктор «Световое ограждение»</h4>

    <p>Световые ограждения (стритборды) — это конструкции с яркой внутренней подсветкой, которые несут в себе
      дополнительную социальную функцию пешеходных ограждений. Световые ограждения могут дополнительно комплектоваться
      роллерными системами аналогично сити-форматам.</p>
    <br>

    <p class="pinknote">Системы конструкторы уменьшают на порядок расходы по доставке, так как объём комплекта
      поставки значительно уменьшается.</p>
    <br>

    <p style="padding-bottom: 10px">Профильная система «DiM-L» предназначена для сборки рекламных конструкций типа cветовые ограждения (рекламные
      пешеходные ограждения). «DiM-L» подразделяется на два разных типа систем: DiM-L1 и DiM-L2.<br><br></p>
    <br><br>
    <h4>Система DiM-L1 </h4>

    <p>Профильные системы DiM-L1 предназначены для сборки световых ограждений, в которых замена рекламных изображений
      осуществляется через верхнюю плоскость конструкции с помощью верхней съёмной панели.</p></div>
  <div class="tc-right">
    <h4>Освещение</h4>

    <p>Системы-конструкторы элементами освещения не комплектуются. <br>
      При установке освещения в готовые конструкции наша компания использует два отработанных на практике решения.<br>
      Первое решение:<br>
      Использование люминисцентных ламп (Philips 58 Вт) совместно с ЭПРА (2 х 58 Вт, Comtech или Osram) для их
      запуска. Количество ламп — от 3 до 4 шт. на единицу изделия. Общая потребляемая мощность одной секции — от 180
      до 360 Вт.<br>
      Второе решение:<br>
      Использование светодиодной ленты MS-12-3L-W DC12V 0.5W IP67 <br>
      Мощность одного модуля — 0,5 Вт. Среднее количество светодиодных модулей — от 30 до 40 шт. Общая потребляемая
      мощность — от 15 до 20 Вт.<br>
      <br>
      Для включения / выключения питания внутри конструкции используется дифф. автомат типа DC12V 18W 1,6A IP67</p>
    <h4>Система DiM-L2</h4>

    <p>Профильные системы DiM-L2 предназначены для сборки световых ограждений, в которых замена рекламных изображений
      осуществляется через боковые плоскости конструкции с помощью открывающихся (лицевой/задней) створок. Световые
      ограждения с открывающимися створками используются преимущественно в паре с роллерными механизмами (по принципу
      скроллеров Сити-формата) в результате чего получаются Световые Роллерные Ограждения.</p></div>
</div>

<p></p>

<p>Отличительной чертой профильных системы «DiM-L» является качество поставляемого профиля, а так же продуманный
  конструкторский подход,<br>в результате чего Световые ограждения, собираемые в соответствии с предлагаемым нашей
  компанией технологическим процессом сборки, обладают современным дизайном, высокой прочностью, качеством узловых
  соединений и долговечным сроком службы готового изделия. Профильные системы «DiM-L» могут применяться для сборки
  световых ограждений как стандартных так и не стандартных размеров в соответствии с техническими требованиями
  заказчика. </p>
<br><br>

<div class="two-cols">
  <div class="tc-left">

    <%= image_tag image_path('production/diy/diy-zabor-1.jpg'), alt: '', style: 'margin-right:-440px;' %>

  </div>
  <div class="tc-right" style="padding-top:20px;">


    <em>Рисунок 1. Система-конструктор световое ограждение со съёмной верхней панелью на примере одной секции
      (профильная система DIM-L1)</em>
    <br><br>

    <p>Документация с описанием технологического процесса по сборке световых ограждений на основе систем «DiM-L»
      высылается заказчику после заключения договора на приобретение комплектующих (в соответствии со
      спецификацией).<br>
      <br>
      Номера деталей соответствуют позициям в спецификации </p>
    <br>

    <div class="files-list">
      <div class="doc" style="float:left;">
        <a href="/files/diy_light_fencingL1.doc">Спецификация L1</a>
        <span>(размер 1,37 МБ, DOC)</span>
      </div>
      <div class="doc" style="float:left;">
        <a href="/files/diy_light_fencingL2.doc">Спецификация L2</a>
        <span>(размер 1,02 МБ, DOC)</span>
      </div>
    </div>

  </div>
</div>

<div class="two-cols">
  <div class="tc-left">

    <h4>Дополнительные комплектующие</h4>

    <p>Дополнительные комплектующие — комплектующие приобретаемые заказчиком по месту сборки (местонахождение, регион,
      город) необходимые для осуществления полной сборки изделия в соответствии с технологическим процессом.
      Дополнительные комплектующие — стандартные материалы, имеющиеся в свободной продаже в каждом регионе РФ.
      <br><br>
      Ниже приведены расчёты ориентировочной стоимости доплнительных комплектующих. Расчёты сформированы исходя из
      средней стоимости указанных материалов на территории РФ
      <br><br>
      Точное количество дополнительных комплектующих приобретаемых по месту сборки деталей указывается в спецификации.
    </p>
  </div>
  <div class="tc-right">

    <h4>Доставка</h4>

    <p>Приблизительные расчёты связанные с затратами на транспортировку Вы сможете сделать на сайте
      компании-грузоперевозчика ООО «Желдорэкспедиция» указав пункт назначения, вес и объём груза по ссылке
      <a href="http://www.jde.ru/calc">http://www.jde.ru/calc</a>
      <br><br>
      Объём (v), вес (m) упаковки системы-конструктора «DiM-L1»:<br>
      V = 0,15 куб.м, m = 22,5 кг.<br>
      Объём (v), вес (m) готового светового ограждения (DiM-L1):<br>
      V = 0,3 куб.м, m = 42 кг.<br>
      <br>
      Транспортировка готовых изделий до необходимого места установки (региона заказчика) может так же осуществляется
      отдельным автотранспортом. Для получения информации по стоимости доставки звоните: многоканальный телефон + 7
      (3452) 69-47-07.</p>

  </div>
</div>

<h4>Расчёт ориентировочной стоимости дополнительных комплектующих</h4>
<table cellpadding="0" cellspacing="0" class="specifications">
  <tbody>
  <tr class="thead">
    <td width="440">
      <div style="height:22px;">Наименование</div>
    </td>
    <td>
      <div style="height:22px;">Цена (в рублях)</div>
    </td>
  </tr>
  <tr>
    <td>Профильная труба 15 х 15 мм (в соответствии со спецификацией)</td>
    <td>200 Р</td>
  </tr>
  <tr>
    <td>Сварочные работы согласно пунктам технологического процесса</td>
    <td>300 Р</td>
  </tr>
  <tr>
    <td>Затраты на сборку</td>
    <td>не более 2 000 Р</td>
  </tr>
  <tr>
    <td>Затраты на установку элементов освещения<br>
      <small>*(см. пункт освещение выше по тексту)</small>
    </td>
    <td>1 000 Р</td>
  </tr>
  <tr>
    <td>Итого (ориентировочная стоимость дополнительных затрат)</td>
    <td>3 500 Р</td>
  </tr>
  </tbody>
</table>
<br><br>
<h4>Итоговая стоимость продукции, получаемая по месту сборки:</h4>
Основной комплект (11 300 Р) + Дополнительные затраты (3 500 Р) = 14 800 Р<br>
<br>
Таким образом, итоговая стоимость продукции составит 14 800 Р<br>
Стоимость готовой продукции в соответствии с прайс-листом — 17 500 Р<p></p>