<div class="two-cols">
  <div class="tc-left">
    <h4>Понятие системы конструктор «Световые короба»</h4>

    <p>Световые ограждения (стритборды), ситиформаты, ситибоксы, флексборды и многие другие рекламные лайтбоксы
      являются ничем иным как световыми коробами стандартных размеров. Наша компния готова осуществлять поставки
      алюминиевых профильных систем для самостоятельного изготовления световых коробов любых нестандартных размеров а
      так же световых коробов по эскизам заказчика. Световые короба нестандартных размеров могут дополнительно
      комплектоваться роллерными системами аналогично сити-форматам.</p>
    <br>

    <p class="pinknote">Системы конструкторы уменьшают на порядок расходы по доставке, так как объём комплекта
      поставки значительно уменьшается.</p></div>
  <div class="tc-right">
    <h4>Освещение</h4>

    <p>Системы-конструкторы элементами освещения не комплектуются. <br>
      При установке освещения в световые короба наша компания использует два отработанных на практике решения.<br>
      Первое решение:<br>
      Использование люминисцентных ламп (Philips 58 Вт) совместно с ЭПРА (2 х 58 Вт, Comtech или Osram) для их
      запуска. Количество ламп — от 3 до 40 шт. и более на единицу изделия (в зависимости от габаритов). Общая
      потребляемая мощность одной секции — от 180 до 2 400 Вт и более (зависит от количества и интенсивности
      подсветки).<br>
      Второе решение:<br>
      Использование светодиодной ленты MS-12-3L-W DC12V 0.5W IP67 <br>
      Мощность одного модуля — 0,5 Вт. Среднее количество светодиодных модулей — от 30 до 400 шт. и более на единицу
      изделия. Общая потребляемая мощность — от 15 до 200 Вт и более.<br>
      <br>
      Для включения / выключения питания внутри конструкции используется дифф. автомат типа DC12V 18W 1,6A IP67</p>
  </div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">

    <%= image_tag image_path('production/diy/diy-lightbox-1.jpg'), alt: '', style: 'margin-right:-440px;' %>

  </div>
  <div class="tc-right">

    <br><br>
    <em>Рисунок 1. Пример подвесного нестандартного светового короба 3,1 х 2,2 м</em>

  </div>
</div>

<div class="two-cols">
  <div class="tc-left">

    <h4>Стоимость профильных систем</h4>

    <p>Стоимость комплектов профильных систем для изготовления световых коробов нестандартных размеров рассчитывается
      индивидуально.</p>
    <br>

  </div>
  <div class="tc-right">

    <h4>Доставка</h4>

    <p>Приблизительные расчёты связанные с затратами на транспортировку Вы сможете сделать на сайте
      компании-грузоперевозчика ООО «Желдорэкспедиция» указав пункт назначения, вес и объём груза по ссылке
      <a href="http://www.jde.ru/calc" target="_blank">http://www.jde.ru/calc</a>
      <br><br>
      Транспортировка готовых изделий до необходимого места установки (региона заказчика) может так же осуществляется
      отдельным автотранспортом. Для получения информации по стоимости доставки звоните: многоканальный телефон + 7
      (3452) 69-47-07.</p>

  </div>
</div>
<p></p>