<div class="two-cols">
  <div class="tc-left">
    <h4>Понятие системы конструктор «Пиллар»</h4>

    <p>Пилларс — это трёхсторонняя рекламная тумба с яркой внутренней посветкой и элегантным дизайном. Пилларсы могут
      дополнительно комплектоваться Роллерными системами (см. Пилларсы). </p>
    <br>

    <p class="pinknote">Системы конструкторы уменьшают на порядок расходы по доставке, так как объём комплекта
      поставки значительно уменьшается.</p>
    <br>

    <p>Профильная система «DiM-PL» предназначена для самостоятельной сборки рекламных конструкций типа пилларс.
      Отличительной чертой профильных системы «DiM-SF» является качество поставляемого профиля, а так же продуманный
      конструкторский подход, в результате чего конструкции, собираемые в соответствии с предлагаемым нашей компанией
      технологическим процессом сборки, обладают современным дизайном, высокой прочностью, качеством узловых
      соединений и долговечным сроком службы готового изделия.</p></div>
  <div class="tc-right">
    <h4>Освещение</h4>

    <p>Системы-конструкторы элементами освещения не комплектуются. <br>
      Установка элементов освещения при сборке готовой конструкции производится на элемент стойка (см.
      спецификацию).<br>
      <br>
      При установке освещения в готовые конструкции наша компания использует два отработанных на практике решения.<br>
      Первое решение:<br>
      Использование люминисцентных ламп (Philips 58 Вт) совместно с ЭПРА (2 х 58 Вт, Comtech или Osram) для их
      запуска. <br>
      Количество ламп — 8 шт. на единицу изделия. Общая потребляемая мощность — не более 480 Вт.<br>
      Второе решение:<br>
      Использование светодиодной ленты MS-12-3L-W DC12V 0.5W IP67 <br>
      Мощность одного модуля — 0,5 Вт. Количество светодиодных модулей — 100 шт. Общая потребляемая мощность — 50
      Вт<br>
      <br>
      Для включения / выключения питания внутри конструкции используется дифф. автомат типа DC12V 18W 1,6A IP67</p>
  </div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">

    <%= image_tag image_path('production/diy/diy-pillar-1.jpg'), alt: '', style: 'margin-right:-440px;' %>

  </div>
  <div class="tc-right">

    <br><br>
    <em>Рисунок 1. Система-конструктор Пиллар</em>
    <br><br>

    <p>Документация с описанием технологического процесса по сборке пилларса на основе систем «DiM-PL» высылается
      заказчику после заключения договора на приобретение комплектующих (в соответствии со спецификацией).
      <br><br>
      Номера деталей соответствуют позициям в спецификации </p>
    <br>

    <div class="files-list">
      <div class="doc">
        <a href="/files/diy_pillar.doc">Спецификация</a>
        <span>(размер 1.62 Мб, .DOC)</span>
      </div>
    </div>

  </div>
</div>

<div class="two-cols">
  <div class="tc-left">

    <h4>Дополнительные комплектующие</h4>

    <p>Дополнительные комплектующие — комплектующие приобретаемые заказчиком по месту сборки (местонахождение, регион,
      город) необходимые для осуществления полной сборки изделия в соответствии с технологическим процессом.
      Дополнительные комплектующие — стандартные материалы, имеющиеся в свободной продаже в каждом регионе РФ.
      <br><br>
      Ниже приведены расчёты ориентировочной стоимости доплнительных комплектующих. Расчёты сформированы исходя из
      средней стоимости указанных материалов на территории РФ
      <br><br>
      Точное количество дополнительных комплектующих приобретаемых по месту сборки деталей указывается в спецификации.
    </p>

  </div>
  <div class="tc-right">

    <h4>Доставка</h4>

    <p>Приблизительные расчёты связанные с затратами на транспортировку Вы сможете сделать на сайте
      компании-грузоперевозчика ООО «Желдорэкспедиция» указав пункт назначения, вес и объём груза по ссылке
      <a href="http://www.jde.ru/calc" target="_blank">http://www.jde.ru/calc</a>
      <br><br>
      Объём (v), вес (m) упаковки системы-конструктора «DiM-PL»:<br>
      V = 1 куб.м, m = 67 кг.
      <br><br>
      Объём (v), вес (m) готового изделия типа Пиларс: <br>
      V = 3.2 куб.м, m = 170 кг.<br>
      <br>
      Транспортировка готовых изделий до необходимого места установки (региона заказчика) может так же осуществляется
      отдельным автотранспортом. Для получения информации по стоимости доставки звоните: многоканальный телефон + 7
      (3452) 69-47-07.</p>

  </div>
</div>

<h4>Расчёт ориентировочной стоимости дополнительных комплектующих</h4>
<table cellpadding="0" cellspacing="0" class="specifications">
  <tbody>
  <tr class="thead">
    <td width="440">
      <div style="height:22px;">Наименование</div>
    </td>
    <td>
      <div style="height:22px;">Цена (в рублях)</div>
    </td>
  </tr>
  <tr>
    <td>Профильная труба 57 мм (в соответствии со спецификацией)</td>
    <td>800 Р</td>
  </tr>
  <tr>
    <td>Профильная труба 40 х 20 мм (в соответствии со спецификацией)</td>
    <td>2 000 Р</td>
  </tr>
  <tr>
    <td>Сварочные работы согласно пунктам технологического процесса</td>
    <td>4 000 Р</td>
  </tr>
  <tr>
    <td>Затраты на сборку</td>
    <td>не более 4 500 Р</td>
  </tr>
  <tr>
    <td>Профильная труба 50 х 25 мм (в соответствии со спецификацией)</td>
    <td>500 Р</td>
  </tr>
  <tr>
    <td>Затраты на установку элементов освещения<br>
      <small>*(см. пункт освещение выше по тексту)</small>
    </td>
    <td>2 000 Р</td>
  </tr>
  <tr>
    <td>Оргстекло (в соответствии со спецификацией)</td>
    <td>9 000 Р</td>
  </tr>
  <tr>
    <td>Итого (ориентировочная стоимость дополнительных затрат)</td>
    <td>22 000 Р</td>
  </tr>
  </tbody>
</table>
<br><br>
<h4>Итоговая стоимость продукции, получаемая по месту сборки:</h4>
Основной комплект (55 900 Р) + Дополнительные затраты (22 000 Р) = 77 900 Р<br>
<br>
Таким образом, итоговая стоимость продукции составит 77 900 Р<br>
Стоимость готовой продукции в соответствии с прайс-листом — 119 000 Р<br>

<p></p>