<div class="two-cols">
  <div class="tc-left">
    <h4>На сегодняшний день </h4>

    <p>В центральных и исторических частях многих городов России большинство щитов 3 × 6 м демонтированы, либо
      подлежат скорому демонтажу. Перед операторами наружной рекламы стоит вопрос в том, как не потерять выгодные
      рекламные места и заменить биллборды 3 × 6 м более современными и привлекательными рекламными конструкциями
      большого формата. Если смена биллбордов на динамические рекламоносители не является приоритетным направлением,
      то отличным решением является замена рекламного щита 3 × 6 м на флексборд с видимым рекламным полем 2,7 × 3,7
      м. </p><br><br>
    <%= image_tag image_path('production/advertisment/con-fleks-1.jpg'), alt: '', style: '' %>
    <br><br>

    <div class="note">
      <div class="attention">
        <strong>Флексборд без защитного стекла</strong>

        <p>Защитой внутренней части флексборда является само изображение, которое равномерно натягивается и
          фиксируется в коробе с помощью специальных фиксаторов. </p>
      </div>
    </div>
  </div>
  <div class="tc-right">
    <h4>Описание рекламной конструкции</h4>

    <p>Флексборд формата 2,7 × 3,7 м выполнен в современном, европейском стиле. Рекламоноситель изготавливается из
      специальной системы алюминиевых профилей окрашенных полимерным порошковым покрытием. В основе конструкции
      заложен усиленный металлический каркас прочности. Флексборд формата 2,7 × 3,7 м устанавливается, как правило, на
      опорную ногу высотой 3 м. Подсветкой служат 20 люминесцентных ламп. В качестве рекламного полотна может
      использоваться баннерная ткань, так как она обладает хорошей светорассеивающей способностью и прочностью.</p>
    <br><br>
    <%= image_tag image_path('production/advertisment/con-fleks-2.jpg'), alt: '', style: '' %>
    <br><br>

    <div class="note">
      <div class="snowflake">
        <strong>Изображение / плакат флексборда</strong>

        <p>Правильно выполненная установка плаката позволяет добиться идеально гладкого изображения. Отсутствие бликов
          на изображении в дневное время и яркая внутренняя подсветка ночью делают флексборд привлекательным видом
          рекламы.</p>
      </div>
    </div>
  </div>
</div>

<p></p>

<div class="two-cols">
  <div class="tc-left">
    <div class="nnote">
      <div class="nwrap">
        <div class="info">
          <br><br><strong>Площадь изображения 10 кв.м</strong>

          <p></p>
        </div>
      </div>
    </div>
    <div class="nnote">
      <div class="nwrap">
        <div class="stamp">
          <strong>Надежность. Высокое качество</strong>

          <p>Конструкция выполнена из алюминиевого <br>профиля высокого качества (алюминиевый сплав <br>АД31 ГОСТ
            4784-97).</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tc-right">
    <div class="nnote">
      <div class="nwrap">
        <div class="flower">
          <strong>Замена плакатов</strong>

          <p>Простота замены рекламных постеров <br>за счёт системы натяжения и фиксации <br>баннера.</p>
        </div>
      </div>
    </div>
    <div class="nnote">
      <div class="nwrap">
        <div class="lamp">
          <strong>Светодиодное освещение</strong>

          <p>Применение технологии светодиодного <br>освещения с целью уменьшения <br>потребляемой мощности.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>