<div class="two-cols">
  <div class="tc-left">
    <h4>Понятие рекламной конструкции</h4>

    <p>Информационные стенды — стенды для размещения коммерческой и рекламной информации.<br>
      Чаще всего, это навигация у входных групп и на территории торговых центров, а так же в офисных зданиях.</p>
    <br><br>
    <h4>Цветовая гамма конструкции</h4>
    <%= image_tag image_path('production/advertisment/rgb2.jpg'), alt: '', style: '' %>

    <p>Цвет рекламной конструкции подбирается по желанию заказчика.</p></div>
  <div class="tc-right">
    <div class="tc-right">
      <h4>Места применения конструкции</h4>

      <p>Другие места применения: для школ и детских садов, для молодежных и досуговых организаций, для садовых
        товариществ и ТСЖ, для театров (театральные тумбы), а так же в качестве стендов для размещения коммерческой и
        рекламной информации.</p>
      <br>
      <h4>Возможна установка DSS</h4>
      <a href="/dss_roll/"><%= image_tag image_path('production/advertisment/dss.jpg'), alt: '', style: '' %></a>

      <p>В рекламную конструкцию информационного стенда возможна установка цифрового роллерного механизма DSS.</p>
    </div>
  </div>
</div>

<p></p>