<h4>Общая информация</h4>

<div class="two-cols">
  <div class="tc-left">
    Экраны «Арена» - прогрессивное решение для мест проведения спортивных мероприятий, как в крытых помещениях имеющих
    большую площадь, так и для объектов находящихся под открытым небом.<br><br>
    Светодиодные видеопериметры, образующие цельное рекламное поле неограниченной длины, можно с успехом использовать
    и в таких областях как: банковская сфера, аэропорты, железнодорожные вокзалы, рестораны, торгово-развлекательные
    центры.
  </div>
  <div class="tc-right">
    Экраны «Арена» с шагом пикселя от 10 мм до 20 мм подходят как для наружного применения на футбольном поле,
    площадках для крикета и других спортивных сооружениях, так и для использования внутри помещений для баскетбола,
    хоккея с шайбой, теннисного корта и т.п.<br><br>
    Наши клиенты - владельцы стадионов или компании, которые получают прибыль от рекламных объявлений, транслируемых
    во время игр. По запросу заказчика габаритные размеры экрана «Арена» могут меняться.
  </div>
</div>
<div class="two-cols">
  <div class="tc-left"><%= image_tag image_path('production/led_screens/led_scr_016.jpg'), alt: '', style: '' %></div>
  <div class="tc-right"><%= image_tag image_path('production/led_screens/led_scr_017.jpg'), alt: '', style: '' %></div>
</div>
<div class="two-cols" style=" padding-bottom:0; margin-bottom:-30px;">
  <div class="tc-left">
    <div class="pluses">
      <h4>Преимущества видеоэкранов «Арена»:</h4>
      <ul>
        <li>Применяется специальная технология формирования защитного покрытия по всей поверхности модуля, что
          предотвращает конструкцию от внешних воздействий окружающей среды и эффективно защищает экран от других
          повреждений. Применяются материалы японского производства.
        </li>
        <li>Дизайн корпуса выполнен в современном стиле. Обрамление «Хайтек» заказывается как дополнительная опция.
        </li>
        <li>Модули заранее установлены и протестированными в различных рабочих режимах на нашем предприятии.</li>
        <li>Модули экрана Арена имеют специальное исполнение корпуса и специальные конструктивные элементы, упрощающие
          сборку/разборку периметра и позволяющие проводить ее за самое короткое время, что экономит Ваше время и
          деньги при монтаже светодиодного периметра. Технология соединения отдельных модульных блоков без зазоров и
          потери шага создает ощущение совершенно гладкого и качественного изображения. Таким образом корпуса легко
          собираются в единую структуру с минимальным количеством соединений между собой.
        </li>
        <li>Лицевая поверхность модулей выполнена из специального материала на основе каучука, который позволяет
          обезопасить спортсменов от травм и защитить поверхность от ударов, а их. верхняя часть имеет специальную
          мягкую защиту, предотвращающую возможность травмирования. Это делает спортивные мероприятия более
          безопасными. Подобные характеристики видеоборта часто являются обязательными для поставки на спортивные
          объекты регионального, федерального и международного уровня.
        </li>
        <li>Корпус изготовлен из алюминия, что уменьшает общий вес конструкции.</li>
      </ul>
      <ul>
        <li>Хоккейный экран Арена представляет собой хоккейный борт со встроенным светодиодным видеополотном. Лицевая
          поверхность самого экрана закрыта специальным ударопрочным антибликовым прозрачным материалом для защиты от
          повреждений.
        </li>
        <li>Экономия мощности за счет регулирования яркости поля как в автоматическом режиме так и программным путем с
          помощью ПО. ПО имеет управляющую систему которая обеспечивает так же и контроль визуальных и технических
          настроек передаваемого изображения.
        </li>
        <li>Угол обзора составляет 160 градусов. Рекламную информацию видно даже в том случае если зритель не смотрит
          на изображение под прямым углом. Вследствие этого рекламная информация воспринимается большим числом людей.
          В независимости от угла падения светового луча (от 0 до 180 градусов) яркость, контрастность, четкость
          изображения остаются неизменными благодаря особой световой интенсивности табло, поэтому можно выделить
          основные эксплуатационные качества: однородность и стабильность изображения и большой угол обзора.
        </li>
        <li>На обратной стороне экрана имеется специальный регулятор для корректировки угла наклона конструкции. В
          случае сдачи конструкций в аренду, регулятор демонтируется и конструкция занимает меньший объём при
          перевозке.
        </li>
        <li>Контроль качества: мы принимаем непосредственное участие в процессе от выбора материалов до изготовления
          продукции, что служит гарантией качества и надежности.
        </li>
        <li>Минимальный гарантийный срок – 3 года.</li>
      </ul>
    </div>
  </div>
  <div class="tc-right"></div>
</div>