<div class="two-cols">
  <div class="tc-left">
    <h4>Общая информация</h4>
    Компания «ДиМедиа» предлагает обширный размерный ряд современных светодиодных экранов «под ключ» с площадью
    изображения более 16,5&nbsp;кв.м.<br><br>
    Все представленные типоразмеры предлагаются с готовым рабочим проектом и системой-конструктором несущей конструкции.<br><br>
    Мы предлагаем модельный ряд со следующими основными форматами изображения: 4:3, 9:6 и 2:1 (если Вас интересует
    формат 16:9, просим сообщить дополнительно).
  </div>
  <div class="tc-right">
    <h4>Монтаж и пусконаладочные работы</h4>
    Монтаж и пусконаладочные работы могут быть выполнены силами наших монтажников (монтаж «под ключ», 10% от стоимости
    светодиодного экрана), либо силами заказчика под руководством специалиста компании «ДиМедиа» (шеф-монтаж, 2% от
    стоимости экрана).
    Шеф-монтаж и монтаж «под ключ» также включают:
    <ul>
      <li>обучение персонала работе с оборудованием;</li>
      <li>консультация по всем вопросам, связанным с установкой и эксплуатацией видеоэкрана;</li>
      <li>обучение работе с программным обеспечением на основе которого осуществляется управление рабочими режимами
        видеоэкрана.
      </li>
    </ul>
  </div>
</div>
<div class="two-cols">
  <div class="tc-left"><%= image_tag image_path('production/led_screens/led_scr_006.jpg'), alt: '', style: '' %></div>
  <div class="tc-right"><%= image_tag image_path('production/led_screens/led_scr_007.jpg'), alt: '', style: '' %></div>
</div>
<div class="two-cols" style=" padding-bottom:0; margin-bottom:-30px;">
  <div class="tc-left">
    <div class="pluses">
      <h4>Преимущества видеоэкранов «ДиМедиа»:</h4>
      <ul>
        <li>Применяется специальная технология формирования защитного покрытия по всей поверхности модуля, что
          предотвращает конструкцию от внешних воздействий окружающей среды и эффективно защищают экран от других
          повреждений.
        </li>
        <li>Дизайн корпуса выполнен в современном стиле Хай-тек.</li>
        <li>Модули заранее протестированы в различных рабочих режимах на нашем предприятии.</li>
        <li>Кабинеты экрана имеют специальное исполнение корпуса и конструктивные элементы, упрощающие сборку/разборку
          всей рабочей поверхности экрана за самое короткое время, что экономит время при монтаже конструкций.
          Технология соединения кабинетов без зазоров и потери шага создает ощущение совершенно гладкого и качественного
          изображения. Таким образом кабинеты легко собираются в единую структуру с минимальным количеством соединений
          между собой.
        </li>
        <li>Кабинеты оснащены системой вентиляции</li>
      </ul>
      <ul>
        <li>Экономия мощности за счет регулирования яркости поля как в автоматическом режиме, так и программным путем с
          помощью программного обеспечения. ПО имеет управляющую систему которая обеспечивает так же и контроль
          визуальных и технических настроек передаваемого изображения.
        </li>
        <li>Угол обзора – до 160 градусов. Рекламную информацию видно даже в том случае если не смотреть на изображение
          под прямым углом. В следствии этого рекламная информация воспринимается большим числом людей. Таким образом
          можно выделить основные эксплуатационные качества: однородность и стабильность изображения, большой угол
          обзора.
        </li>
        <li>Корпус кабинета может быть изготовлен из алюминия, что уменьшает общий вес конструкции (дополнительная
          опция, стоимость – 7990&nbsp;руб./кв.м)
        </li>
        <li>Передача данных: Ethernet, Wi-fi</li>
      </ul>
    </div>
  </div>
  <div class="tc-right"></div>
</div>
<h3>Светодиодные экраны «под ключ» – типовые размеры и технические характеристики</h3><br>
<h4>Соотношение сторон 4:3</h4>

<div><%= image_tag image_path('production/led_screens/led_screens_table_01.jpg'), alt: 'Схема формирования экранов с соотношением сторон 4:3', style: '' %></div>
<div class="tabs">
<ul class="led-menu tabNavigation">
  <li><a href="#384x512" class="cur">3,84 × 5,12 м</a></li>
  <li><a href="#480x640">4,8 × 6,4 м</a></li>
  <li><a href="#576x768">5,76 × 7,68 м</a></li>
  <li><a href="#672x896">6,72 × 8,96 м</a></li>
  <li><a href="#768x1024">7,68 × 10,24 м</a></li>
</ul>

<div id="384x512" style="display: block;">
  <table cellpadding="0" cellspacing="0" class="specifications">
    <tbody>
    <tr class="thead">
      <td>
        <div>Характеристика</div>
      </td>
      <td>
        <div><strong>Светодиодный экран P16 DIP 3.84×5.12 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P20 DIP 3.84×5.12 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P25 DIP 4×5 м</strong></div>
      </td>
    </tr>
    <tr>
      <td>Размер точки</td>
      <td>16 мм</td>
      <td>20 мм</td>
      <td>25 мм</td>
    </tr>
    <tr>
      <td>Конфигурация ячейки</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
    </tr>
    <tr>
      <td>Размер одного модуля</td>
      <td>320 × 320 мм</td>
      <td>320 × 320 мм</td>
      <td>200 × 200 мм</td>
    </tr>
    <tr>
      <td>Разрешение одного модуля</td>
      <td>20 × 20 точек</td>
      <td>16 × 16 точек</td>
      <td>8 × 8 точек</td>
    </tr>
    <tr>
      <td>Угол обзора</td>
      <td colspan="3">120° по горизонтали, 60° по вертикали</td>
    </tr>
    <tr>
      <td>Яркость</td>
      <td>&gt; 7000 кд/м2</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 5500 кд/м2</td>
    </tr>
    <tr>
      <td>Шкала серого</td>
      <td colspan="3">&gt; 8192</td>
    </tr>
    <tr>
      <td>Контроль яркости</td>
      <td colspan="3">256 уровней</td>
    </tr>
    <tr>
      <td>Частота обновления</td>
      <td colspan="3">&gt; 800 Гц</td>
    </tr>
    <tr>
      <td>Рабочая температура</td>
      <td colspan="3">от -40 до +50°С</td>
    </tr>
    <tr>
      <td>Степень защиты</td>
      <td colspan="3">IP65</td>
    </tr>
    <tr>
      <td>Размер изображения, В×Ш</td>
      <td colspan="2">3840 × 5120 мм</td>
      <td>4000 × 5000 мм</td>
    </tr>
    <tr>
      <td>Размер кабинета, В×Ш</td>
      <td>960 × 1280 мм</td>
      <td>960 × 1280 мм</td>
      <td>1000 × 1000 мм</td>
    </tr>
    <tr>
      <td>Материал кабинетов</td>
      <td colspan="3">алюминий, полимерно-порошковая окраска</td>
    </tr>
    <tr>
      <td>Разрешение экрана, точек</td>
      <td>320 × 240</td>
      <td>256 × 192</td>
      <td>200 × 160</td>
    </tr>
    <tr>
      <td>Максимальная потребляемая мощность экрана</td>
      <td>19570 Вт</td>
      <td>15450 Вт</td>
      <td>10500 Вт</td>
    </tr>
    <tr>
      <td>Средняя потребляемая мощность экрана</td>
      <td>8200 Вт</td>
      <td>6000 Вт</td>
      <td>4100 Вт</td>
    </tr>
    <tr>
      <td>Источник питания</td>
      <td colspan="3">3 фазный, 380 В, 50 Гц</td>
    </tr>
    <tr>
      <td>Корпус</td>
      <td colspan="3">усиленная металлическая конструкция с декоративным обрамлением «Хайтек»</td>
    </tr>
    <tr>
      <td>Общая площадь изображения</td>
      <td colspan="2"><strong>19,6608 м<sup>2</sup></strong></td>
      <td><strong>20 м<sup>2</sup></strong></td>
    </tr>
    <tr>
      <td>Общее количество точек экрана</td>
      <td>76 800</td>
      <td>49 152</td>
      <td>32 000</td>
    </tr>
    <tr>
      <td>Ресурс диодов (до уровня износа общей яркости на 50%)</td>
      <td colspan="3">&gt; 100000 часов</td>
    </tr>
    <tr>
      <td>Оптимальная дистанция обзора</td>
      <td>от 12 м</td>
      <td>от 15 м</td>
      <td>от 18 м</td>
    </tr>
    </tbody>
  </table>
</div>

<div id="480x640" style="display: none;">
  <table cellpadding="0" cellspacing="0" class="specifications">
    <tbody>
    <tr class="thead">
      <td>
        <div>Характеристика</div>
      </td>
      <td>
        <div><strong>Светодиодный экран P16 DIP 4.8×6.4 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P20 DIP 4.8×6.4 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P25 DIP 4.8×6.4 м</strong></div>
      </td>
    </tr>
    <tr>
      <td>Размер точки</td>
      <td>16 мм</td>
      <td>20 мм</td>
      <td>25 мм</td>
    </tr>
    <tr>
      <td>Конфигурация ячейки</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
    </tr>
    <tr>
      <td>Размер одного модуля</td>
      <td>320 × 320 мм</td>
      <td>320 × 320 мм</td>
      <td>200 × 200 мм</td>
    </tr>
    <tr>
      <td>Разрешение одного модуля</td>
      <td>20 × 20 точек</td>
      <td>16 × 16 точек</td>
      <td>8 × 8 точек</td>
    </tr>
    <tr>
      <td>Угол обзора</td>
      <td colspan="3">120° по горизонтали, 60° по вертикали</td>
    </tr>
    <tr>
      <td>Яркость</td>
      <td>&gt; 7000 кд/м2</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 5500 кд/м2</td>
    </tr>
    <tr>
      <td>Шкала серого</td>
      <td colspan="3">&gt; 8192</td>
    </tr>
    <tr>
      <td>Контроль яркости</td>
      <td colspan="3">256 уровней</td>
    </tr>
    <tr>
      <td>Частота обновления</td>
      <td colspan="3">&gt; 800 Гц</td>
    </tr>
    <tr>
      <td>Рабочая температура</td>
      <td colspan="3">от -40 до +50°С</td>
    </tr>
    <tr>
      <td>Степень защиты</td>
      <td colspan="3">IP65</td>
    </tr>
    <tr>
      <td>Размер изображения, В×Ш</td>
      <td colspan="3">3200 × 4800 мм</td>
    </tr>
    <tr>
      <td>Размер кабинета, В×Ш</td>
      <td>960 × 1280 мм</td>
      <td>960 × 1280 мм</td>
      <td>800 × 1200 мм</td>
    </tr>
    <tr>
      <td>Материал кабинетов</td>
      <td colspan="3">алюминий, полимерно-порошковая окраска</td>
    </tr>
    <tr>
      <td>Разрешение экрана, точек</td>
      <td>400 × 300</td>
      <td>320 × 240</td>
      <td>256 × 192</td>
    </tr>
    <tr>
      <td>Максимальная потребляемая мощность экрана</td>
      <td>30300 Вт</td>
      <td>23850 Вт</td>
      <td>15860 Вт</td>
    </tr>
    <tr>
      <td>Средняя потребляемая мощность экрана</td>
      <td>12500 Вт</td>
      <td>9150 Вт</td>
      <td>6050 Вт</td>
    </tr>
    <tr>
      <td>Источник питания</td>
      <td colspan="3">3 фазный, 380 В, 50 Гц</td>
    </tr>
    <tr>
      <td>Корпус</td>
      <td colspan="3">усиленная металлическая конструкция с декоративным обрамлением «Хайтек»</td>
    </tr>
    <tr>
      <td>Общая площадь изображения</td>
      <td colspan="3">30,72 м<sup>2</sup></td>
    </tr>
    <tr>
      <td>Общее количество точек экрана</td>
      <td>120 000</td>
      <td>76 800</td>
      <td>49 152</td>
    </tr>
    <tr>
      <td>Ресурс диодов (до уровня износа общей яркости на 50%)</td>
      <td colspan="3">&gt; 100000 часов</td>
    </tr>
    <tr>
      <td>Оптимальная дистанция обзора</td>
      <td>от 12 м</td>
      <td>от 15 м</td>
      <td>от 18 м</td>
    </tr>
    </tbody>
  </table>
</div>

<div id="576x768" style="display: none;">
  <table cellpadding="0" cellspacing="0" class="specifications">
    <tbody>
    <tr class="thead">
      <td>
        <div>Характеристика</div>
      </td>
      <td>
        <div><strong>Светодиодный экран P16 DIP 5.76×7.68 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P20 DIP 5.76×7.68 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P25 DIP 6×8 м</strong></div>
      </td>
    </tr>
    <tr>
      <td>Размер точки</td>
      <td>16 мм</td>
      <td>20 мм</td>
      <td>25 мм</td>
    </tr>
    <tr>
      <td>Конфигурация ячейки</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
    </tr>
    <tr>
      <td>Размер одного модуля</td>
      <td>320 × 320 мм</td>
      <td>320 × 320 мм</td>
      <td>200 × 200 мм</td>
    </tr>
    <tr>
      <td>Разрешение одного модуля</td>
      <td>20 × 20 точек</td>
      <td>16 × 16 точек</td>
      <td>8 × 8 точек</td>
    </tr>
    <tr>
      <td>Угол обзора</td>
      <td colspan="3">120° по горизонтали, 60° по вертикали</td>
    </tr>
    <tr>
      <td>Яркость</td>
      <td>&gt; 7000 кд/м2</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 5500 кд/м2</td>
    </tr>
    <tr>
      <td>Шкала серого</td>
      <td colspan="3">&gt; 8192</td>
    </tr>
    <tr>
      <td>Контроль яркости</td>
      <td colspan="3">256 уровней</td>
    </tr>
    <tr>
      <td>Частота обновления</td>
      <td colspan="3">&gt; 800 Гц</td>
    </tr>
    <tr>
      <td>Рабочая температура</td>
      <td colspan="3">от -40 до +50°С</td>
    </tr>
    <tr>
      <td>Степень защиты</td>
      <td colspan="3">IP65</td>
    </tr>
    <tr>
      <td>Размер изображения, В×Ш</td>
      <td colspan="2">5760 × 7680 мм</td>
      <td>6000 × 8000 мм</td>
    </tr>
    <tr>
      <td>Размер кабинета, В×Ш</td>
      <td>960 × 1280 мм</td>
      <td>960 × 1280 мм</td>
      <td>1000 × 1000 мм</td>
    </tr>
    <tr>
      <td>Материал кабинетов</td>
      <td colspan="3">алюминий, полимерно-порошковая окраска</td>
    </tr>
    <tr>
      <td>Разрешение экрана, точек</td>
      <td>480 × 360</td>
      <td>384 × 288</td>
      <td>320 × 240</td>
    </tr>
    <tr>
      <td>Максимальная потребляемая мощность экрана</td>
      <td>43450 Вт</td>
      <td>34150 Вт</td>
      <td>24500 Вт</td>
    </tr>
    <tr>
      <td>Средняя потребляемая мощность экрана</td>
      <td>17800 Вт</td>
      <td>12900 Вт</td>
      <td>9150 Вт</td>
    </tr>
    <tr>
      <td>Источник питания</td>
      <td colspan="3">3 фазный, 380 В, 50 Гц</td>
    </tr>
    <tr>
      <td>Корпус</td>
      <td colspan="3">усиленная металлическая конструкция с декоративным обрамлением «Хайтек»</td>
    </tr>
    <tr>
      <td>Общая площадь изображения</td>
      <td colspan="2"><strong>44,24 м<sup>2</sup></strong></td>
      <td><strong>48 м<sup>2</sup></strong></td>
    </tr>
    <tr>
      <td>Общее количество точек экрана</td>
      <td>172 800</td>
      <td>110 592</td>
      <td>76 800</td>
    </tr>
    <tr>
      <td>Ресурс диодов (до уровня износа общей яркости на 50%)</td>
      <td colspan="3">&gt; 100000 часов</td>
    </tr>
    <tr>
      <td>Оптимальная дистанция обзора</td>
      <td>от 12 м</td>
      <td>от 15 м</td>
      <td>от 18 м</td>
    </tr>
    </tbody>
  </table>
</div>

<div id="672x896" style="display: none;">
  <table cellpadding="0" cellspacing="0" class="specifications">
    <tbody>
    <tr class="thead">
      <td>
        <div>Характеристика</div>
      </td>
      <td>
        <div><strong>Светодиодный экран P16 DIP 6.72×8.96 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P20 DIP 6.72×8.96 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P25 DIP 7×9 м</strong></div>
      </td>
    </tr>
    <tr>
      <td>Размер точки</td>
      <td>16 мм</td>
      <td>20 мм</td>
      <td>25 мм</td>
    </tr>
    <tr>
      <td>Конфигурация ячейки</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
    </tr>
    <tr>
      <td>Размер одного модуля</td>
      <td>320 × 320 мм</td>
      <td>320 × 320 мм</td>
      <td>200 × 200 мм</td>
    </tr>
    <tr>
      <td>Разрешение одного модуля</td>
      <td>20 × 20 точек</td>
      <td>16 × 16 точек</td>
      <td>8 × 8 точек</td>
    </tr>
    <tr>
      <td>Угол обзора</td>
      <td colspan="3">120° по горизонтали, 60° по вертикали</td>
    </tr>
    <tr>
      <td>Яркость</td>
      <td>&gt; 7000 кд/м2</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 5500 кд/м2</td>
    </tr>
    <tr>
      <td>Шкала серого</td>
      <td colspan="3">&gt; 8192</td>
    </tr>
    <tr>
      <td>Контроль яркости</td>
      <td colspan="3">256 уровней</td>
    </tr>
    <tr>
      <td>Частота обновления</td>
      <td colspan="3">&gt; 800 Гц</td>
    </tr>
    <tr>
      <td>Рабочая температура</td>
      <td colspan="3">от -40 до +50°С</td>
    </tr>
    <tr>
      <td>Степень защиты</td>
      <td colspan="3">IP65</td>
    </tr>
    <tr>
      <td>Размер изображения, В×Ш</td>
      <td colspan="2">6720 × 8960 мм</td>
      <td>7000 × 9000 мм</td>
    </tr>
    <tr>
      <td>Размер кабинета, В×Ш</td>
      <td>960 × 1280 мм</td>
      <td>1120 × 1280 мм</td>
      <td>1000 × 1000 мм</td>
    </tr>
    <tr>
      <td>Материал кабинетов</td>
      <td colspan="3">алюминий, полимерно-порошковая окраска</td>
    </tr>
    <tr>
      <td>Разрешение экрана, точек</td>
      <td>600 × 400</td>
      <td>448 × 336</td>
      <td>360 × 280</td>
    </tr>
    <tr>
      <td>Максимальная потребляемая мощность экрана</td>
      <td>58950 Вт</td>
      <td>46300 Вт</td>
      <td>32000 Вт</td>
    </tr>
    <tr>
      <td>Средняя потребляемая мощность экрана</td>
      <td>24000 Вт</td>
      <td>17400 Вт</td>
      <td>11850 Вт</td>
    </tr>
    <tr>
      <td>Источник питания</td>
      <td colspan="3">3 фазный, 380 В, 50 Гц</td>
    </tr>
    <tr>
      <td>Корпус</td>
      <td colspan="3">усиленная металлическая конструкция с декоративным обрамлением «Хайтек»</td>
    </tr>
    <tr>
      <td>Общая площадь изображения</td>
      <td colspan="2"><strong>60,21 м<sup>2</sup></strong></td>
      <td><strong>63 м<sup>2</sup></strong></td>
    </tr>
    <tr>
      <td>Общее количество точек экрана</td>
      <td>240 000</td>
      <td>150 528</td>
      <td>100 800</td>
    </tr>
    <tr>
      <td>Ресурс диодов (до уровня износа общей яркости на 50%)</td>
      <td colspan="3">&gt; 100000 часов</td>
    </tr>
    <tr>
      <td>Оптимальная дистанция обзора</td>
      <td>от 12 м</td>
      <td>от 15 м</td>
      <td>от 18 м</td>
    </tr>
    </tbody>
  </table>
</div>

<div id="768x1024" style="display: none;">
  <table cellpadding="0" cellspacing="0" class="specifications">
    <tbody>
    <tr class="thead">
      <td>
        <div>Характеристика</div>
      </td>
      <td>
        <div><strong>Светодиодный экран P16 DIP 7.68×10.24 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P20 DIP 7.68×10.24 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P25 DIP 8×10 м</strong></div>
      </td>
    </tr>
    <tr>
      <td>Размер точки</td>
      <td>16 мм</td>
      <td>20 мм</td>
      <td>25 мм</td>
    </tr>
    <tr>
      <td>Конфигурация ячейки</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
    </tr>
    <tr>
      <td>Размер одного модуля</td>
      <td>320 × 320 мм</td>
      <td>320 × 320 мм</td>
      <td>200 × 200 мм</td>
    </tr>
    <tr>
      <td>Разрешение одного модуля</td>
      <td>20 × 20 точек</td>
      <td>16 × 16 точек</td>
      <td>8 × 8 точек</td>
    </tr>
    <tr>
      <td>Угол обзора</td>
      <td colspan="3">120° по горизонтали, 60° по вертикали</td>
    </tr>
    <tr>
      <td>Яркость</td>
      <td>&gt; 7000 кд/м2</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 5500 кд/м2</td>
    </tr>
    <tr>
      <td>Шкала серого</td>
      <td colspan="3">&gt; 8192</td>
    </tr>
    <tr>
      <td>Контроль яркости</td>
      <td colspan="3">256 уровней</td>
    </tr>
    <tr>
      <td>Частота обновления</td>
      <td colspan="3">&gt; 800 Гц</td>
    </tr>
    <tr>
      <td>Рабочая температура</td>
      <td colspan="3">от -40 до +50°С</td>
    </tr>
    <tr>
      <td>Степень защиты</td>
      <td colspan="3">IP65</td>
    </tr>
    <tr>
      <td>Размер изображения, В×Ш</td>
      <td colspan="2">7680 × 10240 мм</td>
      <td>8000 × 10000 мм</td>
    </tr>
    <tr>
      <td>Размер кабинета, В×Ш</td>
      <td>960 × 1280 мм</td>
      <td>960 × 1280 мм</td>
      <td>1000 × 1000 мм</td>
    </tr>
    <tr>
      <td>Материал кабинетов</td>
      <td colspan="3">алюминий, полимерно-порошковая окраска</td>
    </tr>
    <tr>
      <td>Разрешение экрана, точек</td>
      <td>640 × 480</td>
      <td>512 × 384</td>
      <td>400 × 320</td>
    </tr>
    <tr>
      <td>Максимальная потребляемая мощность экрана</td>
      <td>76800 Вт</td>
      <td>60300 Вт</td>
      <td>40500 Вт</td>
    </tr>
    <tr>
      <td>Средняя потребляемая мощность экрана</td>
      <td>31200 Вт</td>
      <td>22550 Вт</td>
      <td>14900 Вт</td>
    </tr>
    <tr>
      <td>Источник питания</td>
      <td colspan="3">3 фазный, 380 В, 50 Гц</td>
    </tr>
    <tr>
      <td>Корпус</td>
      <td colspan="3">усиленная металлическая конструкция с декоративным обрамлением «Хайтек»</td>
    </tr>
    <tr>
      <td>Общая площадь изображения</td>
      <td colspan="2"><strong>78,64 м<sup>2</sup></strong></td>
      <td><strong>80 м<sup>2</sup></strong></td>
    </tr>
    <tr>
      <td>Общее количество точек экрана</td>
      <td>307 200</td>
      <td>196 608</td>
      <td>128 000</td>
    </tr>
    <tr>
      <td>Ресурс диодов (до уровня износа общей яркости на 50%)</td>
      <td colspan="3">&gt; 100000 часов</td>
    </tr>
    <tr>
      <td>Оптимальная дистанция обзора</td>
      <td>от 12 м</td>
      <td>от 15 м</td>
      <td>от 18 м</td>
    </tr>
    </tbody>
  </table>
</div>

</div>
<br>
<h4>Соотношение сторон 9:6</h4>

<div>
  <%= image_tag image_path('production/led_screens/led_screens_table_02.jpg'), alt: 'Схема формирования светодиодных экранов с соотношением сторон 9:6', style: '' %>
</div>
<div class="tabs2">
<ul class="led-menu tabNavigation">
  <li><a href="#320x480" class="cur">3,2 × 4,8 м</a></li>
  <li><a href="#384x576">3,84 × 5,76 м</a></li>
  <li><a href="#448x672">4,48 × 6,72 м</a></li>
  <li><a href="#512x768">5,12 × 7,68 м</a></li>
  <li><a href="#576x864">5,76 × 8,64 м</a></li>
  <li><a href="#640x960">6,4 × 9,6 м</a></li>
  <li><a href="#704x1056">7,04 × 10,56 м</a></li>
</ul>

<div id="320x480" style="display: block;">
  <table cellpadding="0" cellspacing="0" class="specifications">
    <tbody>
    <tr class="thead">
      <td>
        <div>Характеристика</div>
      </td>
      <td>
        <div><strong>Светодиодный экран P16 DIP 3.2×4.8 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P20 DIP 3.2×4.8 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P25 DIP 3.2×4.8 м</strong></div>
      </td>
    </tr>
    <tr>
      <td>Размер точки</td>
      <td>16 мм</td>
      <td>20 мм</td>
      <td>25 мм</td>
    </tr>
    <tr>
      <td>Конфигурация ячейки</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
    </tr>
    <tr>
      <td>Размер одного модуля</td>
      <td>320 × 320 мм</td>
      <td>320 × 320 мм</td>
      <td>200 × 200 мм</td>
    </tr>
    <tr>
      <td>Разрешение одного модуля</td>
      <td>20 × 20 точек</td>
      <td>16 × 16 точек</td>
      <td>8 × 8 точек</td>
    </tr>
    <tr>
      <td>Угол обзора</td>
      <td colspan="3">120° по горизонтали, 60° по вертикали</td>
    </tr>
    <tr>
      <td>Яркость</td>
      <td>&gt; 7000 кд/м2</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 5500 кд/м2</td>
    </tr>
    <tr>
      <td>Шкала серого</td>
      <td colspan="3">&gt; 8192</td>
    </tr>
    <tr>
      <td>Контроль яркости</td>
      <td colspan="3">256 уровней</td>
    </tr>
    <tr>
      <td>Частота обновления</td>
      <td colspan="3">&gt; 800 Гц</td>
    </tr>
    <tr>
      <td>Рабочая температура</td>
      <td colspan="3">от -40 до +50°С</td>
    </tr>
    <tr>
      <td>Степень защиты</td>
      <td colspan="3">IP65</td>
    </tr>
    <tr>
      <td>Размер изображения, В×Ш</td>
      <td colspan="3">3200 × 4800 мм</td>
    </tr>
    <tr>
      <td>Размер кабинета, В×Ш</td>
      <td>640 × 960 мм</td>
      <td>800 × 960 мм</td>
      <td>800 × 800 мм</td>
    </tr>
    <tr>
      <td>Материал кабинетов</td>
      <td colspan="3">алюминий, полимерно-порошковая окраска</td>
    </tr>
    <tr>
      <td>Разрешение экрана, точек</td>
      <td>300 × 200</td>
      <td>240 × 160</td>
      <td>192 × 128</td>
    </tr>
    <tr>
      <td>Максимальная потребляемая мощность экрана</td>
      <td>15400 Вт</td>
      <td>12175 Вт</td>
      <td>8180 Вт</td>
    </tr>
    <tr>
      <td>Средняя потребляемая мощность экрана</td>
      <td>6495 Вт</td>
      <td>4800 Вт</td>
      <td>3265 Вт</td>
    </tr>
    <tr>
      <td>Источник питания</td>
      <td colspan="3">3 фазный, 380 В, 50 Гц</td>
    </tr>
    <tr>
      <td>Корпус</td>
      <td colspan="3">усиленная металлическая конструкция с декоративным обрамлением «Хайтек»</td>
    </tr>
    <tr>
      <td>Общая площадь изображения</td>
      <td colspan="3">15,36 м<sup>2</sup></td>
    </tr>
    <tr>
      <td>Общее количество точек экрана</td>
      <td>60 000</td>
      <td>38 400</td>
      <td>24 576</td>
    </tr>
    <tr>
      <td>Ресурс диодов (до уровня износа общей яркости на 50%)</td>
      <td colspan="3">&gt; 100000 часов</td>
    </tr>
    <tr>
      <td>Оптимальная дистанция обзора</td>
      <td>от 12 м</td>
      <td>от 15 м</td>
      <td>от 18 м</td>
    </tr>
    </tbody>
  </table>
</div>

<div id="384x576" style="display: none;">
  <table cellpadding="0" cellspacing="0" class="specifications">
    <tbody>
    <tr class="thead">
      <td>
        <div>Характеристика</div>
      </td>
      <td>
        <div><strong>Светодиодный экран P16 DIP 3.84×5.76 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P20 DIP 3.84×5.76 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P25 DIP 4×6 м</strong></div>
      </td>
    </tr>
    <tr>
      <td>Размер точки</td>
      <td>16 мм</td>
      <td>20 мм</td>
      <td>25 мм</td>
    </tr>
    <tr>
      <td>Конфигурация ячейки</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
    </tr>
    <tr>
      <td>Размер одного модуля</td>
      <td>320 × 320 мм</td>
      <td>320 × 320 мм</td>
      <td>200 × 200 мм</td>
    </tr>
    <tr>
      <td>Разрешение одного модуля</td>
      <td>20 × 20 точек</td>
      <td>16 × 16 точек</td>
      <td>8 × 8 точек</td>
    </tr>
    <tr>
      <td>Угол обзора</td>
      <td colspan="3">120° по горизонтали, 60° по вертикали</td>
    </tr>
    <tr>
      <td>Яркость</td>
      <td>&gt; 7000 кд/м2</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 5500 кд/м2</td>
    </tr>
    <tr>
      <td>Шкала серого</td>
      <td colspan="3">&gt; 8192</td>
    </tr>
    <tr>
      <td>Контроль яркости</td>
      <td colspan="3">256 уровней</td>
    </tr>
    <tr>
      <td>Частота обновления</td>
      <td colspan="3">&gt; 800 Гц</td>
    </tr>
    <tr>
      <td>Рабочая температура</td>
      <td colspan="3">от -40 до +50°С</td>
    </tr>
    <tr>
      <td>Степень защиты</td>
      <td colspan="3">IP65</td>
    </tr>
    <tr>
      <td>Размер изображения, В×Ш</td>
      <td colspan="2">3840 × 5760 мм</td>
      <td>4000 × 6000 мм</td>
    </tr>
    <tr>
      <td>Размер кабинета, В×Ш</td>
      <td>960 × 960 мм</td>
      <td>960 × 960 мм</td>
      <td>1000 × 1000 мм</td>
    </tr>
    <tr>
      <td>Материал кабинетов</td>
      <td colspan="3">алюминий, полимерно-порошковая окраска</td>
    </tr>
    <tr>
      <td>Разрешение экрана, точек</td>
      <td>360 × 240</td>
      <td>288 × 192</td>
      <td>240 × 160</td>
    </tr>
    <tr>
      <td>Максимальная потребляемая мощность экрана</td>
      <td>22000 Вт</td>
      <td>17350 Вт</td>
      <td>12500 Вт</td>
    </tr>
    <tr>
      <td>Средняя потребляемая мощность экрана</td>
      <td>9150 Вт</td>
      <td>6700 Вт</td>
      <td>4850 Вт</td>
    </tr>
    <tr>
      <td>Источник питания</td>
      <td colspan="3">3 фазный, 380 В, 50 Гц</td>
    </tr>
    <tr>
      <td>Корпус</td>
      <td colspan="3">усиленная металлическая конструкция с декоративным обрамлением «Хайтек»</td>
    </tr>
    <tr>
      <td>Общая площадь изображения</td>
      <td colspan="2"><strong>22,12 м<sup>2</sup></strong></td>
      <td><strong>24 м<sup>2</sup></strong></td>
    </tr>
    <tr>
      <td>Общее количество точек экрана</td>
      <td>86 400</td>
      <td>55 296</td>
      <td>38 400</td>
    </tr>
    <tr>
      <td>Ресурс диодов (до уровня износа общей яркости на 50%)</td>
      <td colspan="3">&gt; 100000 часов</td>
    </tr>
    <tr>
      <td>Оптимальная дистанция обзора</td>
      <td>от 12 м</td>
      <td>от 15 м</td>
      <td>от 18 м</td>
    </tr>
    </tbody>
  </table>
</div>

<div id="448x672" style="display: none;">
  <table cellpadding="0" cellspacing="0" class="specifications">
    <tbody>
    <tr class="thead">
      <td>
        <div>Характеристика</div>
      </td>
      <td>
        <div><strong>Светодиодный экран P16 DIP 4.48×6.72 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P20 DIP 4.48×6.72 м</strong></div>
      </td>
      <td>
        <div><strong>Светодиодный экран P25 DIP 5×7 м</strong></div>
      </td>
    </tr>
    <tr>
      <td>Размер точки</td>
      <td>16 мм</td>
      <td>20 мм</td>
      <td>25 мм</td>
    </tr>
    <tr>
      <td>Конфигурация ячейки</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
      <td>1R1G1B DIP</td>
    </tr>
    <tr>
      <td>Размер одного модуля</td>
      <td>320 × 320 мм</td>
      <td>320 × 320 мм</td>
      <td>200 × 200 мм</td>
    </tr>
    <tr>
      <td>Разрешение одного модуля</td>
      <td>20 × 20 точек</td>
      <td>16 × 16 точек</td>
      <td>8 × 8 точек</td>
    </tr>
    <tr>
      <td>Угол обзора</td>
      <td colspan="3">120° по горизонтали, 60° по вертикали</td>
    </tr>
    <tr>
      <td>Яркость</td>
      <td>&gt; 7000 кд/м2</td>
      <td>&gt; 6500 кд/м2</td>
      <td>&gt; 5500 кд/м2</td>
    </tr>
    <tr>
      <td>Шкала серого</td>
      <td colspan="3">&gt; 8192</td>
    </tr>
    <tr>
      <td>Контроль яркости</td>
      <td colspan="3">256 уровней</td>
    </tr>
    <tr>
      <td>Частота обновления</td>
      <td colspan="3">&gt; 800 Гц</td>
    </tr>
    <tr>
      <td>Рабочая температура</td>
      <td colspan="3">от -40 до +50°С</td>
    </tr>
    <tr>
      <td>Степень защиты</td>
      <td colspan="3">IP65</td>
    </tr>
    <tr>
      <td>Размер изображения, В×Ш</td>
      <td colspan="2">4480 × 6720 мм</td>
      <td>5000 × 7000 мм</td>
    </tr>
    <tr>
      <td>Размер кабинета, В×Ш</td>
      <td>640 × 960 мм</td>
      <td>640 × 960 мм</td>
      <td>1000 × 1000 мм</td>
    </tr>
    <tr>
      <td>Материал кабинетов</td>
      <td colspan="3">алюминий, полимерно-порошковая окраска</td>
    </tr>
    <tr>
      <td>Разрешение экрана, точек</td>
      <td>420 × 280</td>
      <td>336 × 224</td>
      <td>280 × 200</td>
    </tr>
    <tr>
      <td>Максимальная потребляемая мощность экрана</td>
      <td>29750 Вт</td>
      <td>23400 Вт</td>
      <td>18000 Вт</td>
    </tr>
    <tr>
      <td>Средняя потребляемая мощность экрана</td>
      <td>12250 Вт</td>
      <td>8950 Вт</td>
      <td>6850 Вт</td>
    </tr>
    <tr>
      <td>Источник питания</td>
      <td colspan="3">3 фазный, 380 В, 50 Гц</td>
    </tr>
    <tr>
      <td>Корпус</td>
      <td colspan="3">усиленная металлическая конструкция с декоративным обрамлением «Хайтек»</td>
    </tr>
    <tr>
      <td>Общая площадь изображения</td>
      <td colspan="2"><strong>30,11 м<sup>2</sup></strong></td>
      <td><strong>35 м<sup>2</sup></strong></td>
    </tr>
    <tr>
      <td>Общее количество точек экрана</td>
      <td>117 600</td>
      <td>75 264</td>
      <td>56 000</td>
    </tr>
    <tr>
      <td>Ресурс диодов (до уровня износа общей яркости на 50%)</td>
      <td colspan="3">&gt; 100000 часов</td>
    </tr>
    <tr>
      <td>Оптимальная дистанция обзора</td>
      <td>от 12 м</td>
      <td>от 15 м</td>
      <td>от 18 м</td>
    </tr>
    </tbody>
  </table>
</div>

<div id="512x768" style="display: none;">
</div>

<div id="576x864" style="display: none;">
</div>

<div id="640x960" style="display: none;">
</div>

<div id="704x1056" style="display: none;">
</div>

</div>