<div class="two-cols">
  <div class="tc-left">
    Бескаркасное фасадное решение «ДиМедиа» состоит из светодиодных кабинетов, максимальная высота которых не
    превышает 3 м. Фронтальная сторона конструкции выполнена в виде интегрированного светодиодного экрана,
    установленного в алюминиевый корпус. Такой экран устанавливается прямо на фасад здания (несущая металлоконструкция
    не требуется), а глубина конструкции даже при большой площади не превышает 25 см.<br><br>
    Ноу-хау нашей компании - технология изготовления фасадных экранов с высотой от 3-х метров и более. Разработанный
    нашими инженерами конструктив, позволяет производить вертикальную стыковку несколькиз рядов кабинетов без каких
    либо зазоров и потери шага. Доступ к «начинке» экрана осуществляется с фронтальной стороны, что позволяет
    производить полноценное сервисное обслуживание.<br><br>
  </div>
  <div class="tc-right">
    <%= image_tag image_path('production/led_screens/led_scr_028.jpg'), alt: '', style: '' %>
  </div>
</div>
<div class="two-cols" style=" padding-bottom:0; margin-bottom:-30px;">
  <div class="tc-left">
    <div class="pluses">
      <h4>Преимущества безкаркасных фасадных решений:</h4>
      <ul style="margin-bottom: 20px;">
        <li>Простота обслуживания и администрирования</li>
        <li>Минимальный срок гарантийных обязательств - 4 года</li>
      </ul>
      <ul>
        <li>Доступ к «начинке» экрана осуществляется с фронтальной стороны</li>
        <li>Рабочая температура от -30°С до +50°С (в случае использования системы обогрева - от -50°С)</li>
      </ul>
    </div>
  </div>
  <div class="tc-right"></div>
</div>