<div class="two-cols">
  <div class="tc-left">
    <strong>Светодиодный интерактивный пол</strong> состоит из квадратных маленьких модулей выбранного размера, которые очень легко собрать в единый элемент. Каждый модуль оснащен ударопрочным безопасным триплексом с глянцевым покрытием, с которого очень легко убирать грязь и пыль.
<br>
<br>
    <%= image_tag image_path('production/led_screens/201204130047157595.jpg'), alt: '', style: '' %>
    <br>
    <br>
    Высокая нагрузочная способность позволяет использовать экран-пол для демонстрации машин в автомобильном салоне (500 кг./S  S≥160MM*160MM); имеет степень защиты IP65 и может быть установлен на улице.
    <br>
    <br>
    <%= image_tag image_path('production/led_screens/201204130023117236.jpg'), alt: '', style: 'margin-top:10px' %>
    <br>
    <br>
  </div>
  <div class="tc-right">
    <h4>Сферы применения</h4>
    Элитный ресторан, танцевальный зал и дискотека или ночной клуб, квартира, бассейн, загородный дом и другие общественные места.
    <br>
    <br>
    <%= image_tag image_path('production/led_screens/201204130021586641.jpg'), alt: '', style: 'margin-top:5px' %>
    <br>
    <br>
    <%= image_tag image_path('production/led_screens/201204130022372624.jpg'), alt: '', style: '' %>
  </div>
</div>
<p></p><br>

<div class="two-cols" style=" padding-bottom:0; margin-bottom:-30px;">
  <div class="tc-left">
    <div class="pluses">
      <h4>Характеристики напольного светодиодного экрана :</h4>
      <ul>
        <li>Срок службы больше 100 000 часов</li>
        <li>Шаг пикселя от P3 до Р16</li>
        <li>Максимальная яркость до 8000 кд/кв.м</li>
        <li>Неограниченное количество воспроизводимой информации</li>
      </ul>
      <ul>
        <li>Низкое энергопотребление</li>
        <li>Простота в обслуживании и администрировании</li>
        <li>Удаленное управление</li>
        <li>Максимальная потребляемая мощность до 580 В/кв.м</li>
      </ul>
    </div>
  </div>
  <div class="tc-right"></div>
</div>