<div class="two-cols">
  <div class="tc-left">
    Интерьерные светодиодные экраны предназначены для работы внутри помещений и чаще всего применяются в качестве
    информационных и рекламных носителей в местах скопления людей: торговых центрах, спортивных площадках, выставках,
    офисных комплексах, вокзалах, аэропортах, в витринах магазинов.<br><br>
    Данные экраны производятся с шагом пикселя от 1,5 до 12,5 мм с использованием светодиодов SMD. Они могут быть
    выполнены в виде легкой сборной конструкции для настенного размещения, либо иметь собственную отдельностоящую
    несущую конструкцию.<br><br>
  </div>
  <div class="tc-right">
    <%= image_tag image_path('production/led_screens/led_scr_029.jpg'), alt: '', style: '' %> 
  </div>
</div>
<div class="two-cols" style=" padding-bottom:0; margin-bottom:-30px;">
  <div class="tc-left">
    <div class="pluses">
      <h4>Особенности интерьерных светодиодных экранов:</h4>
      <ul style="margin-bottom: 20px;">
        <li>Светодиоды SMD и шаг пикселя от 1,5 до 12,5 мм для качественного отображения информации с минимальных
          расстояний
        </li>
        <li>Минимальный срок гарантийных обязательств - 2 года</li>
      </ul>
      <ul>
        <li>Легкость и простота монтажа</li>
        <li>Минимальная глубина и возможность переднего обслуживания</li>
      </ul>
    </div>
  </div>
  <div class="tc-right"></div>
</div>