<div class="two-cols">
  <div class="tc-left">
    <strong>Медиафасад</strong> – светодиодный экран больших размеров, который устанавливается на фасад зданий в
    городских условиях и который имеет светопропускаемость. Чаще всего медиафасад представлен в виде светодиодной
    сетки или гибкой светодиодной сетки.<br><br>
    Конструктивными особенностями медиафасадов являются возможность обслуживать его как фронтальной, так и с задней
    стороны. Несущая металлоконструкция для медиафасадов выполняется в виде легкой сборно-разборной конструкции. За
    счет большой площади изображения возможно применение большого шага пикселя, что позволяет экономить на стоимости
    светодиодного полотна. Яркость медиафасада позволяет использовать его не только в ночное время, но и в дневное
    тоже.<br><br>
    Так как медиафасад является светодиодным экраном больших размеров, его часто используют на высотных зданиях в
    крупных мегаполисах, тем самым медиафасад просматривается с более дальнего расстояния (1-2км), по сравнению с
    обычными светодиодными экранами типовых размеров, что позволяет Вам и Вашей компании привлекать потенциальных
    рекламодателей.
  </div>
  <div class="tc-right">
    <%= image_tag image_path('production/led_screens/led_scr_031.jpg'), alt: '', style: '' %>
  </div>
</div>
<p></p><br>

<div class="two-cols" style=" padding-bottom:0; margin-bottom:-30px;">
  <div class="tc-left">
    <div class="pluses">
      <h4>Конструктивные особенности медиафасадов:</h4>
      <ul>
        <li>Небольшой вес (12-20 кг/кв.м)</li>
        <li>Светопропускаемость (прозрачность конструкции) от 20% до 80%, в зависимости от шага пикселя</li>
        <li>Шаг пикселя от Р16 до Р150</li>
        <li>Максимальная яркость до 8000 кд/кв.м</li>
      </ul>
      <ul>
        <li>Низкое энергопотребление</li>
        <li>Простота в обслуживании и администрировании медиафасадов</li>
        <li>Удаленное управление медиафасадом</li>
        <li>Неограниченное количество воспроизводимой информации</li>
      </ul>
    </div>
  </div>
  <div class="tc-right"></div>
</div>