<div class="two-cols">
  <div class="tc-left">
    Видеодисплей «ДиМедиа» – рекламно-информационная конструкция с профессиональной ЖК-панелью, в антивандальном
    корпусе. В базовой комплектации видеодисплей оснащается встроенным производительным компьютером и защитным
    закаленным стеклом. Опционально может укомплектовываться сенсорным экраном, антибликовым стеклом, ситемой обогрева
    внутреннего пространства и средствами коммуникации: модем, GPRS модуль. Возможна комплектация обратной стороны
    видеодисплея дополнительным статическим рекламным полем с защитным стеклом. Видеодисплей собирается на базе
    профессиональных TFT-LCD панелей Samsung с диагональю от 46 до 80 дюймов и обеспечивает изображение повышенной
    яркости и контрастности. Предназначен для круглосуточного использования и имеет общий ресурс не менее 50 000
    часов.<br><br>
    Данные экраны могут быть выполнены в виде легкой сборной конструкции для настенного размещения, либо иметь
    собственную отдельностоящую несущую конструкцию.<br><br>
  </div>
  <div class="tc-right">
    <%= image_tag image_path('production/led_screens/led_scr_030.jpg'), alt: '', style: '' %>
  </div>
</div>
<div class="two-cols" style=" padding-bottom:0; margin-bottom:-30px;">
  <div class="tc-left">
    <div class="pluses">
      <h4>Особенности видеодисплеев:</h4>
      <ul style="margin-bottom: 20px;">
        <li>Видеодисплеи выполнены в современном стиле на основе профиля «Хайтек» или «I-Phones Design»</li>
        <li>Видеодисплеи заранее протестированы и готовы к работе с первого дня после доставки до места монтажа и
          установки
        </li>
        <li>Установка системы обогрева для конструкций в уличном исполнении</li>
        <li>Конструкция видеодисплея выполнена на основе алюминиевого профиля высокого качества (алюминиевый сплав
          АД31 ГОСТ 4784-97)
        </li>
      </ul>
      <ul>
        <li>ЖК-панели от 46'' до 80'', яркость до 2000 кд/м2 (по усмотрению заказчика)</li>
        <li>Дополнительная комплектация сенсорным экраном SingleTouch, MultiTouch, либо антибликовым защитным
          стеклом
        </li>
        <li>Возможность брендирования видеодисплея, за счет сменного постера в нижней части конструкции</li>
        <li>Управляющий компьютер включен в базовую комплектацию</li>
      </ul>
    </div>
  </div>
  <div class="tc-right"></div>
</div>