<div class="two-cols">
  <div class="tc-left">
    Световые видеоограждения являютя новым форматом в наружной рекламе. Изначально конструкция представляла собой
    статичный двусторонний короб, объединяющий в себе функции рекламоносителя и дорожного ограждения.<br><br>
    Световые рекламные видео-ограждения устанавливаются в местах с наиболее интенсивным движением транспорта и
    пешеходов, в центральной части города, что дает возможность разместить рекламные макеты там, где сокращается
    количество других типов наружной рекламы.<br><br>
  </div>
  <div class="tc-right">
    <%= image_tag image_path('production/led_screens/led_scr_026.jpg'), alt: '', style: '' %>
  </div>
</div>
<p>Интегрирование светодиодных полотен в световые ограждения, производимые на нашем предприятии, оказалось возможным,
  благодаря тщательной инженерной проработке внутренних узлов и соединений конструкции, в результате чего, теперь,
  нашим заказчикам открываются более удобные способы работы с такими рекламными конструкциями как светодиодные
  ограждения с интегрированным видеополотном.</p><br>

<p>Как правило, световые рекламные ограждения располагают по несколько секций подряд, объединяя в единую модульную
  конструкцию</p><br>

<p>новизна функционального решения по использованию видео-изображения в данном рекламоносителе выделяет конструкцию из
  общей массы. отсутствие необходимости контакта с самой рекламной конструкцией в процессе обслуживания по
  демонстрации видеороликов сокращает время обслуживания и расходы.</p><br>
<h4>Варианты исполнения видео-ограждений:</h4>
<strong>1. Видео / Cтатика</strong><br><br>
Статическая сторона видео-ограждения представляет из себя плакат, закрепленный с внутренней стороны стекла на
поликарбонатной съемной панели с помощью специальных зажимов. Статическая сторона может быть использована для
социальной рекламы. Доступ к «начинке» экранов можно осуществлять двумя способами - как с фронтальной стороны, так и с
внутренней.<br><br>
<strong>2. Видео / Видео</strong><br><br>
обе стороны видео-ограждения выполняются в виде интегрированных светодиодных экранов, установленных в алюминиевый
корпус и заранее протестированных в различных рабочих режимах на нашем предприятии. Доступ к «начинке» экрана с обеих
сторон осуществляется с фронтальной стороны с помощью специально разработанного конструктива, позволяющего производить
полноценное сервисное обслуживание.<br><br>

<div class="two-cols" style=" padding-bottom:0; margin-bottom:-30px;">
  <div class="tc-left">
    <div class="pluses">
      <h4>Преимущества видео-ограждения:</h4>
      <ul style="margin-bottom: 20px;">
        <li>Корпус видео-ограждения устойчив к воздействиям окружающей среды, обладает хорошей вандалоустойчивостью.
        </li>
        <li>Отсутствие необходимости контакта с самой рекламной конструкцией в процессе обслуживания по демонстрации
          видеороликов сокращает время обслуживания и расходы
        </li>
        <li>Тип исполнения - профиль «ДиМедиа - Базис»</li>
      </ul>
      <ul>
        <li>Применение технологии интенсивного светодиодного освещения статических сторон с целью уменьшения
          потребляемой мощности
        </li>
        <li>Рабочая температура от -30°С до +50°С (в случае использования системы обогрева - от -50°С)</li>
      </ul>
    </div>
  </div>
  <div class="tc-right"></div>
</div>