<div class="two-cols">
  <div class="tc-left">
    Пиллар - это трехгранная рекламная тумба с внутренней подсветкой, имеющая три рекламные поверхности размером 1,4 х
    2,8 м. Пиллары хорошо сочетаются с архитектурным обликом города, и поэтому активно устанавливаются в центральных и
    исторических частях городов.<br><br>
    Ранее рекламные поверхности пиллара были представлены в виде статических сторон. В процессе изменений на рынке
    наружной рекламы, были разработаны пиллары с динамически меняющимися изображениями на базе цифровых роллерных
    систем. Далее, следуя современным тенденциям и требованиям к обслуживанию динамических рекламных конструкций,
    нашей компанией были предприняты шаги по усовершенствованию рекламной конструкции типа пиллар, а именно - переход
    от роллерной системы смены изображений, требующей специального штата сотрудников для обслуживания сети таких
    конструкций, к системе демонстрации видеоизображений, где функции обслуживающих бригад могут быть возложены на
    одного администратора, работающего в офисном помещении. Такие современные пиллары называются
    <strong>Видео-пиллары</strong>.<br><br>
  </div>
  <div class="tc-right">
    <%= image_tag image_path('production/led_screens/led_scr_025.jpg'), alt: '', style: '' %>
  </div>
</div>
Интегрирование светодиодных полотен в Пиллары, производимые на нашем предприятии, оказалось возможным, благодаря
тщательной инженерной проработке внутренних узлов и соединений конструкции, в результате чего, теперь нашим заказчикам
открываются более удобные способы работы этими рекламоносителями.<br><br>
<h4>Варианты исполнения видео-пилларов:</h4>
<strong>1. Видео / Cтатика / Cтатика</strong><br><br>
Статические стороны пилларса представляют из себя плакаты, которые фиксируются с внутренней стороны рамок с помощью
специальных зажимов. Стороны можно использовать для социальной рекламы на 2 постера.<br><br>
<strong>2. Видео / Видео / Cтатика</strong><br><br>
Статическая сторона пилларса представляет из себя плакат, который фиксируется с внутренней стороны рамок с помощью
специальных зажимов. Две видео-стороны позволяют активно использовать рекламные поверхности конструкции. Это особенно
актуально на оживленных перекрестках, в местах с большой проходимостью, на выставочных мероприятиях, на презентациях
компании и т.д.<br><br>
<strong>3. Видео / Видео / Видео</strong><br><br>
Все три стороны пилларса выполняются в виде интегрированных светодиодных экранов, установленных в алюминиевый корпус и
заранее протестированных в различных рабочих режимах на нашем предприятии. Доступ к «начинке» экранов осуществляется с
фронтальной стороны с помощью специально разработанного конструктива, позволяющего производить полноценное сервисное
обслуживание.<br><br>

<div class="two-cols" style=" padding-bottom:0; margin-bottom:-30px;">
  <div class="tc-left">
    <div class="pluses">
      <h4>Преимущества видео-пиллара:</h4>
      <ul style="margin-bottom: 20px;">
        <li>Поставляются в готовом собранном виде, либо в виде модульных блоков, сборка которых осуществляется быстро
          и просто.
        </li>
        <li>Отсутствие необходимости контакта с самой рекламной конструкцией в процессе обслуживания по демонстрации
          видеороликов сокращает время обслуживания и расходы
        </li>
        <li>Тип исполнения - профиль «ДиМедиа - Бизнес»</li>
      </ul>
      <ul>
        <li>Новизна функционального решения по использованию видеоизображения в данном рекламоносителе выделяет
          консрукцию из общей массы
        </li>
        <li>Рабочая температура от -30°С до +50°С (в случае использования системы обогрева - от -50°С)</li>
      </ul>
    </div>
  </div>
  <div class="tc-right"></div>
</div>