<div class="two-cols">
  <div class="tc-left">
    <strong>Видео-ситиборды</strong> – новинка на рынке в России, так как вместо рабочего проекта несущего корпуса
    видеоэкрана мы предлагаем готовое решение, а именно: экран в собранном виде, с возможностью его дальнейшей
    транспортировки до места эксплуатации.<br><br>
    <strong>Типовые размеры:</strong><br>
    2 × 3 м, 2 × 4 м, 2.5 × 4 м, 3 × 4 м, 3 × 5 м, 3 × 6 м<br><br>
    <h4>Варианты исполнения видео-ситибордов:</h4>
    <strong>1. Видео / Флексборд</strong><br>
    Обратная сторона - Флексборд (статика с интенсивной светодиодной подсветкой), способный нести дополнительную
    рекламную нагрузку.<br><br>
    <strong>2. Видео / Ситиборд</strong><br>
    Обратная сторона - Ситиборд, позволяет разместить до 6 рекламных изображений с помощью цифрового роллерного
    механизма DSS.<br><br>
    <strong>3. Видео / Видео</strong><br>
    Обе стороны конструкции выполняются в виде светодиодных экранов, установленных в алюминиевый корпус.<br><br>
  </div>
  <div class="tc-right">
    <%= image_tag image_path('production/led_screens/led_scr_023.jpg'), alt: '', style: '' %>
  </div>
</div>
<h4>1. Видео / Флексборд</h4>

<p>Обратная сторона экрана выполняется в виде интегрированного Флексборда, способного нести дополнительную социальную
  нагрузку на 1 изображение с хорошо известными агитационными плакатами – «За чистый город!», «Молодежь выбирает
  спорт» и т.п.</p><br>

<p>Флексборд оснащается системой натяжения изображения, позволяющей оперативно производить замену баннеров. Створка
  Флексборда открывается с помощью газовых лифтов и фиксируется специальными замками.</p><br>
<h4>2. Видео / Ситиборд</h4>

<p>Обратная сторона экрана выполняется в виде интегрированного Ситиборда, позволяющего демонстрировать до 6 рекламных
  изображений с помощью установленного в него цифрового роллерного механизма DSS (digital scrolling system) DiM70.
  Гарантия на роллерную систему Китай мотор-редукторами - 4 года. Дизайн конструкции выполнен в современном стиле
  Hi-Tech, придающим конструкции необычный футуристический облик.</p><br>

<p>Сторона Ситиборда оснащается интенсивной внутренней светодиодной подсветкой. Применение технологии светодиодного
  освещения уменьшает потребляемую мощность. Створка Ситиборда открывается с помощью газовых лифтов, либо
  электроподъемников (по усмотрению заказчика).</p><br>
<h4>3. Видео / Видео</h4>

<p>Обе стороны конструкции выполняются в виде интегрированных светодиодных экранов, установленных в алюминиевый корпус
  и заранее протестированных в различных рабочих режимах на нашем предприятии.</p><br>

<p>Наличие светодиодных полотен с обеих сторон, не влияет на общую толщину конструкции. Доступ к «начинке» экрана с
  обеих сторон осуществляется с фронтальной стороны с помощью специально разработанного конструктива, позволяющего
  производить полноценное сервисное обслуживание.</p><br>

<div class="two-cols" style=" padding-bottom:0; margin-bottom:-30px;">
  <div class="tc-left">
    <div class="pluses">
      <h4>Преимущества:</h4>
      <ul>
        <li>Простота обслуживания и администрирования, отсутствие необходимости контакта с самой рекламной
          конструкцией в процессе обслуживания
        </li>
        <li>Несущие конструкции поставляются собственным транспортом в собранном виде</li>
      </ul>
      <ul>
        <li>Корпус видео-ситиборда устойчив к воздействиям окружающей стреды и обладает хорошей вандалоустойчивостью
        </li>
        <li>Площадь изображения от 4 до 16,5 м<sup>2</sup></li>
      </ul>
    </div>
  </div>
  <div class="tc-right"></div>
</div>