<div class="two-cols">
  <div class="tc-left">
    Светодиодные видеовывески «ДиМедиа» позволяют выводить статическое или динамическое полноцветное изображение с
    высокой яркостью. Вы можете с легкостью донести до целевой аудитории информацию о проходящих у вас акциях,
    скидках, времени работы и любое другое рекламное сообщение.<br><br>
    Видеовывеска позволит вам выделить вашу компанию среди огромного количества обычных рекламных вывесок и таким
    образом привлечь дополнительных покупателей или посетителей.<br><br>
    Видеовывески собираются из светодиодных блоков размером 480х480 мм. Блоки монтируются на несущую
    металлоконструкцию, которая закрепляется на стене, либо устанавливается на козырьке.<br><br>
    По желанию заказчика светодиодная видеовывеска может быть укомплектована декоративным алюминиевым обрамлением из
    профиля «ДиМедиа-Базис». Профиль может окрашиваться полимерно-порошковой краской в любой цвет из палитры
    RAL.<br><br>
  </div>
  <div class="tc-right">
    <%= image_tag image_path('production/led_screens/led_scr_027.jpg'), alt: '', style: '' %>
  </div>
</div>
<div class="two-cols" style=" padding-bottom:0; margin-bottom:-30px;">
  <div class="tc-left">
    <div class="pluses">
      <h4>Преимущества видеовывесок:</h4>
      <ul style="margin-bottom: 20px;">
        <li>Корпус видео-ограждения устойчив к воздействиям окружающей среды, обладает хорошей вандалоустойчивостью.
        </li>
        <li>Отсутствие необходимости контакта с самой рекламной конструкцией в процессе обслуживания по демонстрации
          видеороликов сокращает время обслуживания и расходы
        </li>
        <li>Тип исполнения - профиль «ДиМедиа - Базис»</li>
      </ul>
      <ul>
        <li>Доступ к «начинке» экрана можно осуществлять двумя способами: как с фронтальной стороны, так и с
          внутренней
        </li>
        <li>Рабочая температура от -30°С до +50°С (в случае использования системы обогрева - от -50°С)</li>
      </ul>
    </div>
  </div>
  <div class="tc-right"></div>
</div>