<div class="two-cols">
  <div class="tc-left">
    Следуя современным тенденциям и требованиям к обслуживанию динамических рекламных конструкций, нашей компанией
    были предприняты шаги по усовершенствованию рекламной конструкции типа Сити-формат, а именно - переход от
    роллерной системы смены изображений, требующей специального штата сотрудников для обслуживания сети таких
    конструкций, к смене демонстрации видеоизображений, где функции обслуживающих бригад могут быть возложены на
    одного администратора, работающего в офисном помещении. Такие современные лайтбоксы называются
    <strong>видео-ситиформаты</strong>.<br><br>
    Интегрирование светодиодных полотен в сити-форматы, производимые на нашем предприятии оказалось возможным,
    благодаря тщательной инженерной переработке внутренних узлов и соединений базовой конструкции, в результате чего,
    теперь нашим заказчикам открываются более удобные способы работы со светодиодными видео-ситиформатами.<br><br>
    <h4>Варианты исполнения видео-ситибордов:</h4>
    <strong>1. Видео / Cтатика</strong><br>
    Обратная сторона - статика с интенсивной светодиодной подсветкой, позволяет разместить 1 рекламное
    изображение.<br>
    <strong>2. Видео / Динамика</strong><br>
    Обратная сторона - Ситиборд, позволяет разместить до 6 рекламных изображений с помощью цифрового роллерного
    механизма DSS.<br>
    <strong>3. Видео / Видео</strong><br>
    Обе стороны конструкции выполняются в виде светодиодных экранов, установленных в алюминиевый корпус.<br>
  </div>
  <div class="tc-right">
    <%= image_tag image_path('production/led_screens/led_scr_024.jpg'), alt: '', style: '' %>
  </div>
</div>
<div class="two-cols" style=" padding-bottom:0; margin-bottom:-30px;">
  <div class="tc-left">
    <div class="pluses">
      <h4>Преимущества видео-ситиформата:</h4>
      <ul style="margin-bottom: 20px;">
        <li>Корпус видео-ситиформата устойчив к воздействиям окружающей стреды, вандалоустойчив, его конструктив
          препятствует попаданию влаги внутрь
        </li>
        <li>В качестве лицевых панелей, установлено ударопрочное закаленное стекло, либо монолитный поликарбонат.</li>
      </ul>
      <ul>
        <li>Отсутствие необходимости контакта с самой рекламной конструкцией в процессе обслуживания по демонстрации
          видеороликов сокращает время обслуживания и расходы
        </li>
      </ul>
      <h4 style="clear: both;">Видео / Статика:</h4>
      <ul style="margin-bottom: 20px;">
        <li>Простота обслуживания и администрирования</li>
        <li>Применение технологии светодиодного освещения для уменьшения потребляемой мощности</li>
      </ul>
      <ul>
        <li>Шелкография по периметру стекла</li>
        <li>Тип исполнения - сити-формат I-Phone Design / Хайтек</li>
      </ul>
      <h4 style="clear: both;">Видео / Динамика:</h4>
      <ul style="margin-bottom: 20px;">
        <li>Для роллерной стороны предусмотрено программирование: скорости вращения, скорости и пути торможения, время
          задержки каждого кадра отдельно
        </li>
      </ul>
      <ul>
        <li>Применение технологии светодиодного освещения для уменьшения потребляемой мощности</li>
        <li>Тип исполнения - сити-формат I-Phone Design</li>
      </ul>
      <h4 style="clear: both;">Видео / Видео:</h4>
      <ul>
        <li>Доступ к «начинке» экрана с обеих сторон осуществляется с фронтальной стороны с помощью специально
          разработанного конструктива, позволяющего производить полноценное сервисное обслуживание.
        </li>
      </ul>
      <ul>
        <li>Тип исполнения - сити-формат I-Phone Design</li>
      </ul>
    </div>
  </div>
  <div class="tc-right"></div>
</div>