<div class="span4">
  <div class="span-space" >

    <h3>Контактная информация</h3>

    <address>

      <strong>Адрес:</strong>
      <div style="text-indent:10px">
        г. Пятигорск, пр. Калинина, 68
      </div>
      <br>

      <strong>Телефоны:</strong>
      <div style="text-indent:10px">
        +7 (928) 3-194-194
      </div>
      <div style="text-indent:10px">
        +7 (8793) 39-27-42
      </div>
      <br>

      <strong>Email:</strong>
      <div style="text-indent:10px">
        <%= mail_to 'piratv@inbox.ru', 'piratv@inbox.ru' %>
      </div>
      <br>

      <strong>Сайт:</strong>
      <div style="text-indent:10px">
        <%= link_to 'www.piratv.ru', root_path %>
      </div>

    </address>

  </div>
</div>