<div class="hero-unit">
  <h2><%= app_name %></h2>

  <p style="font-size:15px">
    Адрес: г. Пятигорск, пр. Калинина, 68<br>
    Телефон: 8 (928) - 3 - 194 - 194
  </p>

  <p>
    Нет возможности приехать или позвонить?<br>
    <%= link_to t('Contact Us'), '/contact/', class: 'btn btn-primary btn-large' %>
  </p>
</div>

<div class="row">
  <p>
      <h4 align="center" style="padding:10px;padding-left:25px">
        Добро пожаловать на сайт Пятигорской Рекламно-Информационной Компании "ПИРА"
      </h4>
  </p>
  <div class="span6">

    Some text...
  </div>
</div>