<% i = 0; content_for :title, 'Портфолио - ' + @album.album_name %>
<% if @portfolios.empty? %>
    Фотографий в данном альбоме еще не добавили..
<% else %>
    <%= will_paginate @portfolios, :style => 'color:red' %>
    <div class="portfolio_image">
      <% @portfolios.each do |unit| %>
          <% url = unit.photo_url.starts_with?('http://') ? unit.photo_url : image_path('portfolio/'+unit.photo_url) %>
          <% if File.exist?("#{Rails.root}/public/#{url}") %>
              <% link_url = unit.video_url.nil? ? image_path(url) : unit.video_url %>
              <span class="image">
                <%= link_to link_url, rel: 'prettyPhoto[gallery]', title: unit.title do %>
                  <%= image_tag url, alt: unit.title %>
              <% end %>
              </span>
              <% if (i += 1) == 4 %>
                  <% i = 0 %>
                  <br>
              <% end %>
          <% end %>
      <% end %>
      <% if i.zero? %>
          Фотографий в данном альбоме еще не добавили..
      <% end %>
    </div>
    <%= will_paginate @portfolios %>
<% end %>
<script type="text/javascript" charset="utf-8">
    $("a[rel^='prettyPhoto']").prettyPhoto({theme: 'facebook',slideshow:5000, autoplay_slideshow:true})
</script>