.milling_images {
  margin-top:10px;
  text-align:center;
  img {
    width:250px;
    height:175px;
    margin:10px
  }
}

.clfield {
  padding: 5px;
  border: 1px solid #fff;
  background: #000;
  margin: 2px;
  width: 400px;
  color: #FFF;
}
.center-block {
  width: 900px;
}