<div class="footerBottomSection">
  <div class="container">
    &copy; 2014, Allright reserved.
    <%= link_to 'Terms and Condition', '#' %> | <%= link_to 'Privacy Policy', '#' %>
    <div class="pull-right">
      <%= link_to root_path, title: app_name do %>
          <%= image_tag 'logo.png', title: app_name, alt: app_name %>
      <% end %>
    </div>
  </div>
</div>